<div class="container">
        <h2>Change Password</h2>
        <form action="/dashboard" method="post">
            <div class="form-group">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current-password" required>
            </div>
            <input type="hidden" name="email" value="{{email}}"> <!-- Hidden field for email -->
            
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            
            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            
            <button type="submit" class="btn">Change Password</button>
        </form>
    </div>