<body id="top">
  


  
  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <h1>
        <a href="#" class="logo"data-translate="campusWay">CampusWay</a>
      </h1>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo" data-translate="campusWay">CampusWay</a>

          <button class="nav-close-btn" aria-label="Clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

        

        <ul class="navbar-list">

          {{!-- <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>
              <span>Home</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>
              <span>About</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#service" class="navbar-link" data-nav-link>
              <span>Service</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#blog" class="navbar-link" data-nav-link>
              <span>Blog</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>
              <span>Contact</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>
              <span>Contact</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

        </ul>

      </nav> --}}
 
    <div class="header-content">
            <div class="profile-menu">
                <img src="\assets\images\profile.png" alt="Profile Icon" class="profile-icon" onclick="toggleDropdown()">
                <div id="dropdown" class="dropdown-content">
                  
                    <a href="/changepassword/{{email}}" data-translate="changePassword">Change Password</a>
                    <a href="/home" data-translate="logout">Logout</a>
                </div>
            </div>
        </div>
      <button class="nav-open-btn" aria-label="Open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>




      <!-- 
        - #FEATURE
      -->

      <section class="section feature" aria-label="feature">
        <div class="container">

          <div class="title-wrapper">

            <div>
              <p class="section-subtitle" ><font size="8"><b  data-translate="welcome">Welcome</b> {{name}}</font></p>
              <!-- <hr length = "20" align="left" color="orange"> -->

              <!-- <h2 class="h2 section-title">Welcome to padho !</h2> -->

              <p class="section-text" data-translate="hello">
                Empower Your Future with the Right Career Choices!
Discover resources and insights to guide you toward your dream career.


              </p>
            </div>
            

            <a href="#" class="btn1" data-translate="readmore">Read More</a>

          </div>
<hr color="orange" size="3" >
          <ul class="feature-list grid-list">

            <li>
              <div class="feature-card" style="--card-number: '01'">

                <div class="card-icon">
                  <img src="\assets\images\service-icon-3.png" width="72" height="91" alt="">
                </div>

                <h3 class="h3 card-title" data-translate="scholarships">Scholorships</h3>

                <p class="card-text" data-translate="one">
               Fulfill your educational expenses seamlessly with official assistance.
                </p>

                <a href="/scholarship" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="feature-card" style="--card-number: '02'">

                <div class="card-icon">
                  <img src="\assets\images\feature-icon-1.png" width="94" height="94" alt="">
                </div>

                <h3 class="h3 card-title" data-translate="resourses">College prediction</h3>

                <p class="card-text"data-translate="second">
                Get a accurate prediction of colleges for your mark
                </p>

                <a href="/collegeprediction" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="feature-card" style="--card-number: '03'">

                <div class="card-icon">
                  <img src="\assets\images\feature-icon-3.png" width="93" height="93" alt="">
                </div>

                <h3 class="h3 card-title" data-translate="counceling">Councelling</h3>

                <p class="card-text" data-translate="three">
                  Get expert guidance and support to make informed decisions about your academic and career path..
                </p>

                <a href="/counsellingpart" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
                <div class="feature-card" style="--card-number: '04'">
  
                  <div class="card-icon">
                    <img src="\assets\images\connection.png" width="94" height="94" alt="">
                  </div>
  
                  <h3 class="h3 card-title" data-translate="details">Your Academic Details</h3>
  
                  <p class="card-text" data-translate="four">
                   Your Academic Details for a Bright Future..
                  </p>
  
                  <a href="/roadmap" class="card-btn" aria-label="Read more">
                    <ion-icon name="arrow-forward"></ion-icon>
                  </a>
  
                </div>
              </li>


          
              <li>
                <div class="feature-card" style="--card-number: '05'">
  
                  <div class="card-icon">
                    <img src="\assets\images\mortarboard.png" width="94" height="94" alt="">
                  </div>
                   
                  <h3 class="h3 card-title" data-translate="college">Colleges/Universities</h3>
  
                  <p class="card-text"data-translate="five">
                Explore Top Colleges and Universities......
                  </p>
                   
                  <a href="/collegeoruniversity" class="card-btn" aria-label="Read more">
               <ion-icon name="arrow-forward"></ion-icon>
                  </a>
   </form>
                </div>
              </li>
             



              <li>
                <div class="feature-card" style="--card-number: '06'">
  
                  <div class="card-icon">
                    <img src="\assets\images\idea.png" width="94" height="94" alt="">
                  </div>
  
                  <h3 class="h3 card-title"data-translate="entrance">Entrance Exams</h3>
  
                  <p class="card-text" data-translate="six">
                  Prepare for Entrance Exams and Achieve Success...
                  </p>
  
                  <a href="/entrance" class="card-btn" aria-label="Read more">
                    <ion-icon name="arrow-forward"></ion-icon>
                  </a>
  
                </div>
              </li>


          </ul>

        </div>
      </section>


      <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

          <a href="#" class="logo"data-translate="campusWay">CampusWay</a>

        <p class="footer-text" data-translate="footerText">
  Next Step Is Success! <br>
  Your college dreams, our expert guidance
</p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Quick Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">About</a>
          </li>

          <li>
            <a href="#" class="footer-link">Services</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Feedbacks</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

        </ul>

        <!-- <ul class="footer-list">

          <li>
            <p class="footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="footer-link">Warehouse</a>
          </li>

          <li>
            <a href="#" class="footer-link">Air Freight</a>
          </li>

          <li>
            <a href="#" class="footer-link">Ocean Freight</a>
          </li>

          <li>
            <a href="#" class="footer-link">Road Freight</a>
          </li>

          <li>
            <a href="#" class="footer-link">Packaging</a>
          </li>

        </ul> -->

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">Business Consulting</a>
          </li>

          <li>
            <a href="#" class="footer-link">Testimonials</a>
          </li>

          <li>
            <a href="#" class="footer-link">Track Your Shipment</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & Condition</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">
        <center><p data-translate="createdBy">
          This website is created by Sushant,Sabari,Sridharan,YuvanShankar,Megala,Goforthwalker</p></center>
        <p class="copyright"data-translate="copyright">
          &copy;All Rights Reserved by <a href="#" class="copyright-link">Padho</a>
        </p>
      </div>

    </div>
  </footer>




  <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>


  <button class="chatbot-toggler">
        <!-- Chatbot icon -->
        <img src="\assets\images\chatbot.png" alt="Chatbot Icon">
    </button>
    <div class="chatbot">
        <header>
            <h2>Chatbot</h2>
            <span class="material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Hi there ЁЯСЛ <br> How can I help you today?</p>
            </li>    
        </ul>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
    </div>



  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  
</body>
<script>
  const chatInput = document.querySelector(".chat-input textarea");
const sendChatBtn = document.querySelector(".chat-input span");
const chatbox = document.querySelector(".chatbox");
const chatbotToggler = document.querySelector(".chatbot-toggler");
const chatbotElement = document.querySelector(".chatbot");

// Define responses directly in JavaScript
let responses = {
    "hi": "Hello! How can I help you today?",
    "hii": "Hello! How can I help you today?",
    "hey": "Hello! How can I help you today?",
    "how to appear in engineering counselling":"check the counselling section which is present at top",
    "hello": "Hi there! What can I assist you with?",
    "how are you?": "I'm just a bot, but I'm here to help you!",
    "what is your name?": "I'm your friendly chatbot.",
    "bye": "Goodbye! Have a great day!",
    "best engineering courses?": "Computer science, artificial intelligence, Machine learning",
    "choose career path?": "Assess interests, skills, and values.",
    "top engineering colleges India?": "IITs, NITs, and IISc.",
    "admission process top colleges?": "Entrance exams like JEE Main and JEE Advanced.",
    "prepare for entrance exams?": "Study syllabus, solve past papers, take mock tests.",
    "career prospects after engineering?": "Roles in tech, manufacturing, consulting, and more.",
    "choose engineering branch importance?": "Aligns with interests and career goals.",
    "emerging engineering trends?": "AI, data science, and interdisciplinary studies.",
    "handle challenging work environment?": "Stay positive, focus on solutions, seek support.",
    "improve job satisfaction?": "Find meaning, seek growth opportunities, balance work.",
    "create career development plan?": "Identify goals, outline steps, set milestones.",
    "achieve career success?": "Set clear goals, stay motivated, improve skills.",
    "handle work-related stress?": "Identify sources, use stress management techniques, seek support.",
    "common interview questions?": "Tell me about yourself, strengths and weaknesses.",
    "build professional credibility?": "Deliver high-quality work, be reliable, contribute actively.",
    "choose specialization within field?": "Explore areas, consider interests, seek advice.",
    "effective job searching tips?": "Tailor resume, leverage network, use job engines.",
    "develop a career plan?": "Set goals, identify steps, review regularly.",
    "mistakes to avoid interview?": "Be prepared, avoid negativity, ask thoughtful questions.",
    "stay competitive job market?": "Update skills, stay informed, be adaptable.",
    "improve professional skills?": "Seek feedback, pursue training, practice skills.",
    "make career transition successful?": "Research field, acquire skills, leverage experience.",
    "find career mentor?": "Look for industry professionals, network, seek recommendations.",
    "plan for career growth?": "Set goals, pursue skills, seek feedback.",
    "benefits of internships?": "Gain experience, network, explore career options.",
    "best practices resume writing?": "Highlight achievements, tailor for job, proofread.",
    "improve public speaking skills?": "Practice regularly, seek feedback, join groups.",
    "networking tips for professionals?": "Attend events, connect online, follow up.",
    "handle job rejection?": "Learn from feedback, stay positive, keep applying.",
    "transition from student to professional?": "Gain experience, build skills, adjust expectations.",
    "find job opportunities online?": "Use job boards, company websites, social media.",
    "develop leadership skills?": "Take on responsibilities, seek mentorship, lead projects.",
    "handle workplace conflicts?": "Communicate openly, seek resolution, stay professional.",
    "importance of work-life balance?": "Prevent burnout, improve productivity, enhance well-being.",
    "get career advice?": "Talk to mentors, use career services, read guides.",
    "start career in tech?": "Learn coding, build projects, network with professionals.",
    "career options in healthcare?": "Nursing, medical research, administration, patient care.",
    "pursue career in finance?": "Study finance, gain experience, pursue certifications.",
    "effective job interview preparation?": "Research company, practice answers, prepare questions.",
    "skills needed for management?": "Leadership, communication, problem-solving, organization.",
    "how to set career goals?": "Identify interests, set SMART goals, create plan.",
    "importance of professional certifications?": "Enhance skills, improve job prospects, gain recognition.",
    "find work-life balance?": "Set boundaries, prioritize tasks, manage time.",
    "improve teamwork skills?": "Communicate effectively, collaborate, respect others.",
    "handle career setbacks?": "Stay resilient, reassess goals, seek support.",
    "get noticed by employers?": "Build a strong online presence, network, apply widely.",
    "best career resources?": "Career websites, professional organizations, mentorship programs.",
    "improve time management?": "Use planners, set priorities, avoid multitasking.",
    "gain experience for career?": "Volunteer, intern, work on projects.",
    "how to negotiate salary?": "Research market rates, highlight skills, be confident.",
    "effective job search strategies?": "Network, tailor applications, follow up.",
    "career options in education?": "Teaching, administration, counseling, curriculum development.",
    "develop problem-solving skills?": "Practice critical thinking, seek challenges, learn from mistakes.",
    "benefits of career counseling?": "Personalized advice, career clarity, goal setting.",
    "how to ask for a raise?": "Prepare evidence, schedule meeting, present case.",
    "find career growth opportunities?": "Seek additional responsibilities, ask for feedback, pursue training.",
    "handle job dissatisfaction?": "Identify issues, seek solutions, consider career change.",
    "learn new skills?": "Take courses, attend workshops, practice regularly.",
    "improve job performance?": "Set goals, seek feedback, improve skills.",
    "build a professional portfolio?": "Showcase work, highlight achievements, update regularly.",
    "prepare for career change?": "Research new field, gain relevant skills, network.",
    "find work that aligns with values?": "Identify values, research companies, seek matching roles.",
    "importance of continuing education?": "Stay updated, enhance skills, advance career.",
    "handle workplace stress?": "Practice relaxation, manage time, seek support.",
    "explore career interests?": "Research fields, take assessments, gain experience.",
    "top 2 engineering colleges in tamilnadu":"IIT Madras,SRM",
    "top engineering colleges in tamilnadu":"IIT Madras,SRM",
    "how to apply for entrance exams":"scroll down.you can see the section named entrance exam.click it.you can see the details"
};

// The rest of your existing JavaScript code
const createChatLi = (message, classname) => {
    const chatLi = document.createElement("li");
    chatLi.classList.add("chat", classname);
    const chatContent = classname === "outgoing"
        ? `<p>${message}</p>`
        : `<span class="material-symbols-outlined">smart_toy</span><p>${message}</p>`;
    chatLi.innerHTML = chatContent;
    return chatLi;
};

const generateResponse = (incomingChatLi, userMessage) => {
    const messageElement = incomingChatLi.querySelector("p");
    const lowerCaseMessage = userMessage.toLowerCase();
    const response = responses[lowerCaseMessage] || "I'm not sure how to respond to that.";
    messageElement.textContent = response;
};

const handleChat = () => {
    const userMessage = chatInput.value.trim();
    if (!userMessage) return;

    chatbox.appendChild(createChatLi(userMessage, "outgoing"));
    chatInput.value = "";

    setTimeout(() => {
        const incomingChatLi = createChatLi("Thinking...", "incoming");
        chatbox.appendChild(incomingChatLi);
        generateResponse(incomingChatLi, userMessage);
    }, 300);
};

// Toggle chatbot visibility
chatbotToggler.addEventListener("click", () => {
    document.body.classList.toggle("show-chatbot");
});

// Toggle chatbot visibility
chatbotToggler.addEventListener("click", () => {
    chatbotElement.classList.toggle("visible");  // Toggle 'visible' class on chatbot element
});
// Send message on button click
sendChatBtn.addEventListener("click", handleChat);

// Optionally send message on Enter key press
chatInput.addEventListener("keydown", (e) => {
    if (e.key === "Enter" && !e.shiftKey) {
        e.preventDefault();
        handleChat();
    }
});

  const translations = {
"en": {
    "welcome": "Welcome",
    "campusWay": "CampusWay",
    "hello": "Empower Your Future with the Right Career Choices! Discover resources and insights to guide you toward your dream career.",
    "changePassword": "Change Password",
    "logout": "Logout",
    "scholarships": "Scholarships",
    "resources": "College Prediction",
    "counseling": "Counseling",
    "academicDetails": "Your Academic Details",
    "colleges": "Colleges/Universities",
    "footerText": "Next Step Is Success! Your college dreams, our expert guidance.",
    "readmore": "Read More",
    "scholarships": "Scholarships",
    "resourses": "College Prediction",
    "counceling": "Counseling",
    "details": "Your Academic Details",
    "college": "Colleges/Universities",
    "entrance": "Entrance exams",
    "one": "Fulfill your educational expenses seamlessly with official assistance.",
    "second": "Get an accurate prediction of colleges for your mark.",
    "three": "Get expert guidance and support to make informed decisions about your academic and career path.",
    "four": "Your Academic Details for a Bright Future",
    "five": "Explore Top Colleges and Universities",
    "six": "Prepare for Entrance Exams and Achieve Success",
    "termsCondition": "Terms & Condition",
     "createdBy": "This website is created by Sushant, Sabari, Sridharan, YuvanShankar, Megala, Goforthwalker",
       "copyright": "&copy;All Rights Reserved by campusway",
    
  },
  "ta": {
    "welcome": "ро╡рогроХрпНроХроорпН",
    "campusWay": "роХрпЗроорпНрокро╕рпН ро╡рпЗ",
    "hello": "роЙроЩрпНроХро│рпН роОродро┐ро░рпНроХро╛ро▓родрпНродрпИ роЪро░ро┐ропро╛рой родрпКро┤ро┐ро▓рпН родрпЗро░рпНро╡рпБроХро│рпБроЯройрпН роЪро┐ро▒рокрпНрокро┐роХрпНроХро╡рпБроорпН! роЙроЩрпНроХро│рпН роХройро╡рпБ родрпКро┤ро┐ро▓рпИ роирпЛроХрпНроХро┐ ро╡ро┤ро┐роХро╛роЯрпНроЯрпБроорпН ро╡ро│роЩрпНроХро│рпН рооро▒рпНро▒рпБроорпН роХрпБро▒ро┐ропрпАроЯрпБроХро│рпИрокрпН роХрогрпНроЯро▒ро┐ропро╡рпБроорпН.",
    "changePassword": "роХроЯро╡рпБроЪрпНроЪрпКро▓рпНро▓рпИ рооро╛ро▒рпНро▒ро╡рпБроорпН",
    "logout": "ро╡рпЖро│ро┐ропрпЗро▒рпБ",
    "scholarships": "роородро┐рокрпНрокрпВродро┐ропроЩрпНроХро│рпН",
    "resources": "ро╡ро│роЩрпНроХро│рпН",
    "counseling": "роЖро▓рпЛроЪройрпИ",
    "academicDetails": "роЙроЩрпНроХро│рпН роХро▓рпНро╡ро┐ ро╡ро┐ро╡ро░роЩрпНроХро│рпН",
    "colleges": "роХро▓рпНро▓рпВро░ро┐роХро│рпН/рокро▓рпНроХро▓рпИроХрпНроХро┤роХроЩрпНроХро│рпН",
    "footerText": "роЕроЯрпБродрпНрод рокроЯро┐ ро╡рпЖро▒рпНро▒ро┐! роЙроЩрпНроХро│рпН роХро▓рпНро▓рпВро░ро┐ роХройро╡рпБроХро│рпН, роОроЩрпНроХро│рпН роиро┐рокрпБрогро░рпН ро╡ро┤ро┐роХро╛роЯрпНроЯро▓рпН.",
    "readmore": "роорпЗро▓рпБроорпН рокроЯро┐роХрпНроХро╡рпБроорпН",
    "scholarships": "рооро╛рогро╡ро░рпНроХро│рпН роЕро▒роХрпНроХроЯрпНроЯро│рпИ",
    "resourses": "роХро▓рпНро▓рпВро░ро┐ роХрогро┐рокрпНрокрпБ",
    "counceling": "роЖро▓рпЛроЪройрпИ",
    "details": "роЙроЩрпНроХро│рпН роХро▓рпНро╡ро┐ ро╡ро┐ро╡ро░роЩрпНроХро│рпН",
    "college": "роХро▓рпНро▓рпВро░ро┐роХро│рпН/рокро▓рпНроХро▓рпИроХрпНроХро┤роХроЩрпНроХро│рпН",
    "entrance": "роОро┤рпБродрпНродрпБродрпН родрпЗро░рпНро╡рпБроХро│рпН",
    "one": "роЕродро┐роХро╛ро░рокрпНрокрпВро░рпНро╡рооро╛рой роЙродро╡ро┐роХро│рпБроЯройрпН роЙроЩрпНроХро│рпН роХро▓рпНро╡ро┐ роЪрпЖро▓ро╡рпБроХро│рпИроЪрпН роЪро┐роХрпНроХро▓ро┐ро▓рпНро▓ро╛рооро▓рпН роиро┐ро▒рпИро╡рпЗро▒рпНро▒рпБроЩрпНроХро│рпН.",
    "second": "роЙроЩрпНроХро│рпН роородро┐рокрпНрокрпЖрогрпНрогрпБроХрпНроХрпБ родрпБро▓рпНро▓ро┐ропрооро╛рой роХро▓рпНро▓рпВро░ро┐ роХрогро┐рокрпНрокрпБ рокрпЖро▒рпБроЩрпНроХро│рпН.",
    "three": "роЙроЩрпНроХро│рпН роХро▓рпНро╡ро┐ рооро▒рпНро▒рпБроорпН родрпКро┤ро┐ро▓рпН рокро╛родрпИропрпИ рокро▒рпНро▒ро┐ роЕро▒ро┐ро╡рпБроЪро╛ро░рпНроирпНрод роорпБроЯро┐ро╡рпБроХро│рпИ роОроЯрпБроХрпНроХрпБроорпН роХрпБро▒рпБроорпНрокроЯ роЙродро╡ро┐ рооро▒рпНро▒рпБроорпН роЖродро░ро╡рпИ рокрпЖро▒рпБроЩрпНроХро│рпН.",
    "four": "роЙроЩрпНроХро│рпН рокро┐ро░роХро╛роЪрооро╛рой роОродро┐ро░рпНроХро╛ро▓родрпНродро┐ро▒рпНроХрпБ роХро▓рпНро╡ро┐ ро╡ро┐ро╡ро░роЩрпНроХро│рпН",
    "five": "роорпЗро▓ро╛рой роХро▓рпНро▓рпВро░ро┐роХро│рпН рооро▒рпНро▒рпБроорпН рокро▓рпНроХро▓рпИроХрпНроХро┤роХроЩрпНроХро│рпИ роЖро░ро╛ропрпБроЩрпНроХро│рпН",
    "six": "роЙроЩрпНроХро│рпН роирпБро┤рпИро╡рпБродрпН родрпЗро░рпНро╡рпБроХро│рпБроХрпНроХрпБ родропро╛ро░рпН роЖроХро┐ ро╡рпЖро▒рпНро▒ро┐ропрпИ роЕроЯрпИропрпБроЩрпНроХро│рпН",
    "termsCondition": "роиро┐рокроирпНродройрпИроХро│рпН рооро▒рпНро▒рпБроорпН ро╡ро┐родро┐роорпБро▒рпИроХро│рпН",
     "createdBy": "роЗроирпНрод роЗрогрпИропродро│родрпНродрпИ роЪрпБро╖ро╛роирпНродрпН, роЪрокро░ро┐, ро╕рпНро░рпАродро░ройрпН, ропрпБро╡ройрпН ро╖роЩрпНроХро░рпН, роорпЗроХро▓ро╛, роХрпЛроГрокрпЛро░рпНродрпНро╡ро╛роХрпНроХро░рпН роЖроХро┐ропрпЛро░рпН роЙро░рпБро╡ро╛роХрпНроХро┐ройро░рпН.",
        "copyright": "&copy;роЕройрпИродрпНродрпБро░ро┐роорпИропрпБроорпН рокро╛родрпБроХро╛роХрпНроХрокрпНрокроЯрпНроЯродрпБ campusway роорпВро▓роорпН",
   
  },
  "hi": {
    "welcome": "рд╕реНрд╡рд╛рдЧрдд рд╣реИ",
    "campusWay": "рдХреИрдореНрдкрд╕рд╡реЗ",
    "hello": "рд╕рд╣реА рдХрд░рд┐рдпрд░ рд╡рд┐рдХрд▓реНрдкреЛрдВ рдХреЗ рд╕рд╛рде рдЕрдкрдиреЗ рднрд╡рд┐рд╖реНрдп рдХреЛ рд╕рд╢рдХреНрдд рдмрдирд╛рдПрдВ! рдЕрдкрдиреЗ рд╕рдкрдиреЛрдВ рдХреЗ рдХрд░рд┐рдпрд░ рдХреА рдУрд░ рдорд╛рд░реНрдЧрджрд░реНрд╢рди рдХрд░рдиреЗ рдХреЗ рд▓рд┐рдП рд╕рдВрд╕рд╛рдзрди рдФрд░ рдЬрд╛рдирдХрд╛рд░реА рдЦреЛрдЬреЗрдВ",
    "changePassword": "рдкрд╛рд╕рд╡рд░реНрдб рдмрджрд▓реЗрдВ",
    "logout": "рд▓реЙрдЧ рдЖрдЙрдЯ",
    "scholarships": "рдЫрд╛рддреНрд░рд╡реГрддреНрддрд┐рдпрд╛рдВ",
    "resources":"рдХреЙрд▓реЗрдЬ рднрд╡рд┐рд╖реНрдпрд╡рд╛рдгреА",
    "counseling": "рдкрд░рд╛рдорд░реНрд╢",
    "academicDetails": "рдЖрдкрдХрд╛ рд╢реИрдХреНрд╖рдгрд┐рдХ рд╡рд┐рд╡рд░рдг",
    "colleges": "рдХреЙрд▓реЗрдЬ/рд╡рд┐рд╢реНрд╡рд╡рд┐рджреНрдпрд╛рд▓рдп",
    "footerText": "рдЕрдЧрд▓рд╛ рдХрджрдо рд╕рдлрд▓рддрд╛ рд╣реИ! рдЖрдкрдХреЗ рдХреЙрд▓реЗрдЬ рдХреЗ рд╕рдкрдиреЗ, рд╣рдорд╛рд░реА рд╡рд┐рд╢реЗрд╖рдЬреНрдЮ рдорд╛рд░реНрдЧрджрд░реНрд╢рдиред",
    "readmore": "рдЕрдзрд┐рдХ рдкрдврд╝реЗрдВ",
    "scholarships": "рдЫрд╛рддреНрд░рд╡реГрддреНрддрд┐рдпрд╛рдБ",
    "resourses": "рд╕рдВрд╕рд╛рдзрди",
    "counceling": "рд╕рд▓рд╛рд╣рдХрд╛рд░",
    "details": "рдЖрдкрдХреЗ рд╢реИрдХреНрд╖рд┐рдХ рд╡рд┐рд╡рд░рдг",
    "college": "рдХреЙрд▓реЗрдЬ/рд╡рд┐рд╢реНрд╡рд╡рд┐рджреНрдпрд╛рд▓рдп",
    "entrance": "рдкреНрд░рд╡реЗрд╢ рдкрд░реАрдХреНрд╖рд╛рдПрдБ",
    "one": "рдЖрдзрд┐рдХрд╛рд░рд┐рдХ рд╕рд╣рд╛рдпрддрд╛ рдХреЗ рд╕рд╛рде рдЖрдкрдХреА рд╢рд┐рдХреНрд╖рд╛ рд▓рд╛рдЧрдд рдХреЛ рдмрд┐рдирд╛ рдХрд┐рд╕реА рдкрд░реЗрд╢рд╛рдиреА рдХреЗ рдкреВрд░рд╛ рдХрд░реЗрдВред",
    "second": "рдЕрдкрдиреЗ рдЕрдВрдХреЛрдВ рдХреЗ рд▓рд┐рдП рд╕рд╣реА рдХреЙрд▓реЗрдЬ рдХреА рднрд╡рд┐рд╖реНрдпрд╡рд╛рдгреА рдкреНрд░рд╛рдкреНрдд рдХрд░реЗрдВред",
    "three": "рдЖрдкрдХреА рд╢рд┐рдХреНрд╖рд╛ рдФрд░ рдХрд░рд┐рдпрд░ рдкрде рдХреЗ рдмрд╛рд░реЗ рдореЗрдВ рд╕реВрдЪрд┐рдд рдирд┐рд░реНрдгрдп рд▓реЗрдиреЗ рдХреЗ рд▓рд┐рдП рд╡рд┐рд╢реЗрд╖рдЬреНрдЮ рдорд╛рд░реНрдЧрджрд░реНрд╢рди рдФрд░ рд╕рдорд░реНрдерди рдкреНрд░рд╛рдкреНрдд рдХрд░реЗрдВред",
    "four": "рдПрдХ рдЙрдЬреНрдЬрд╡рд▓ рднрд╡рд┐рд╖реНрдп рдХреЗ рд▓рд┐рдП рдЖрдкрдХреА рд╢реИрдХреНрд╖рдгрд┐рдХ рдЬрд╛рдирдХрд╛рд░реА",
    "five": "рд╕рд░реНрд╡рд╢реНрд░реЗрд╖реНрда рдХреЙрд▓реЗрдЬ рдФрд░ рд╡рд┐рд╢реНрд╡рд╡рд┐рджреНрдпрд╛рд▓рдпреЛрдВ рдХреА рдЦреЛрдЬ рдХрд░реЗрдВ",
    "six": "рдкреНрд░рд╡реЗрд╢ рдкрд░реАрдХреНрд╖рд╛рдУрдВ рдХреЗ рд▓рд┐рдП рддреИрдпрд╛рд░реА рдХрд░реЗрдВ рдФрд░ рд╕рдлрд▓рддрд╛ рдкреНрд░рд╛рдкреНрдд рдХрд░реЗрдВ",
    "termsCondition": "рдирд┐рдпрдо рдФрд░ рд╢рд░реНрддреЗрдВ",
     "createdBy": "рдпрд╣ рд╡реЗрдмрд╕рд╛рдЗрдЯ рд╕реБрд╖рд╛рдВрдд, рд╕рдмрд░реА, рд╢реНрд░реАрдзрд░рди, рдпреБрд╡рд╛рдирд╢рдВрдХрд░, рдореЗрдЧрд▓рд╛, рдЧреЛрдлреЛрд░реНрдерд╡рд╛рдХрд░ рджреНрд╡рд╛рд░рд╛ рдмрдирд╛рдИ рдЧрдИ рд╣реИред",
       "copyright": "&copy;рд╕рд░реНрд╡рд╛рдзрд┐рдХрд╛рд░ рд╕реБрд░рдХреНрд╖рд┐рдд campusway рджреНрд╡рд╛рд░рд╛",

   
  },
  "te": {
    "welcome": "р░╕р▒Нр░╡р░╛р░Чр░др░В",
    "campusWay": "р░Хр▒Нр░пр░╛р░Вр░кр░╕р▒НтАМр░╡р▒З",
    "hello": "р░╕р░░р▒Ир░и р░Хр▒Жр░░р▒Ар░░р▒Н р░Ор░Вр░кр░┐р░Хр░▓р░др▒Л р░ор▒А р░нр░╡р░┐р░╖р▒Нр░пр░др▒Нр░др▒Бр░ир▒Б р░╢р░Хр▒Нр░др░┐р░╡р░Вр░др░В р░Ър▒Зр░пр░Вр░бр░┐! р░ор▒А р░Хр░▓р░▓ р░Хр▒Жр░░р▒Ар░░р▒НтАМ р░╡р▒Ир░кр▒Б р░ор░╛р░░р▒Нр░Чр░ир░┐р░░р▒Нр░жр▒Зр░╢р░В р░Ър▒Зр░пр░бр░╛р░ир░┐р░Хр░┐ р░╡р░ир░░р▒Бр░▓р▒Б р░ор░░р░┐р░пр▒Б р░╕р░ор░╛р░Ър░╛р░░р░В р░Хр░ир▒Бр░Чр▒Кр░ир░Вр░бр░┐.",
    "changePassword": "р░кр░╛р░╕р▒Нр░╡р░░р▒Нр░бр▒Н р░ор░╛р░░р▒Нр░кр▒Б",
    "logout": "р░▓р░╛р░Чр▒Н р░Ер░╡р▒Бр░Яр▒Н",
    "scholarships": "р░Йр░кр░╛р░зр░┐",
    "resourses":"р░Хр░▓р▒Зр░Ьр▒А р░Ер░Вр░Ър░ир░╛",
    "counceling": "р░Хр▒Мр░ир▒Нр░╕р░▓р░┐р░Вр░Чр▒Н",
    "details": "р░ор▒А р░╡р░┐р░жр▒Нр░пр░╛ р░╡р░┐р░╡р░░р░╛р░▓р▒Б",
    "college": "р░Хр░│р░╛р░╢р░╛р░▓р░▓р▒Б/р░╡р░┐р░╢р▒Нр░╡р░╡р░┐р░жр▒Нр░пр░╛р░▓р░пр░╛р░▓р▒Б",
    "entrance": "р░кр▒Нр░░р░╡р▒Зр░╢ р░кр░░р▒Ар░Хр▒Нр░╖р░▓р▒Б",
"one": "р░кр▒Нр░░р░╛р░ор░╛р░гр░┐р░Х р░╕р░╣р░╛р░пр░Вр░др▒Л р░ор▒А р░╡р░┐р░жр▒Нр░пр░╛ р░Цр░░р▒Нр░Ър▒Бр░▓р░ир▒Б р░╕р▒Бр░▓р░нр░Вр░Чр░╛ р░кр▒Вр░░р▒Нр░др░┐ р░Ър▒Зр░пр░Вр░бр░┐.",
"second":"р░ор▒А р░ор░╛р░░р▒Нр░Хр▒Бр░▓ р░Хр▒Лр░╕р░В р░╕р░░р░┐р░Чр▒Нр░Чр░╛ р░Хр░│р░╛р░╢р░╛р░▓ р░Ер░Вр░Ър░ир░╛ р░кр▒Кр░Вр░жр░Вр░бр░┐.",
"three": "р░ор▒А р░╡р░┐р░жр▒Нр░п р░ор░░р░┐р░пр▒Б р░Хр▒Жр░░р▒Ар░░р▒Н р░ор░╛р░░р▒Нр░Чр░В р░Чр▒Бр░░р░┐р░Вр░Ър░┐ р░╕р░Ър▒Зр░др░и р░ир░┐р░░р▒Нр░гр░пр░╛р░▓р▒Б р░др▒Ар░╕р▒Бр░Хр▒Лр░╡р░бр░╛р░ир░┐р░Хр░┐ р░ир░┐р░кр▒Бр░гр▒Бр░▓ р░ор░╛р░░р▒Нр░Чр░ир░┐р░░р▒Нр░жр▒Зр░╢р░В р░ор░░р░┐р░пр▒Б р░ор░жр▒Нр░жр░др▒Б р░кр▒Кр░Вр░жр░Вр░бр░┐.",
"four": "р░У р░кр▒Нр░░р░Хр░╛р░╢р░╡р░Вр░др░ор▒Ир░и р░нр░╡р░┐р░╖р▒Нр░пр░др▒Нр░др▒Бр░Хр▒Б р░ор▒А р░╡р░┐р░жр▒Нр░пр░╛ р░╡р░┐р░╡р░░р░╛р░▓р▒Б",
"five": "р░Йр░др▒Нр░др░ор░ор▒Ир░и р░Хр░│р░╛р░╢р░╛р░▓р░▓р▒Б р░ор░░р░┐р░пр▒Б р░╡р░┐р░╢р▒Нр░╡р░╡р░┐р░жр▒Нр░пр░╛р░▓р░пр░╛р░▓р░ир▒Б р░Ер░ир▒Нр░╡р▒Зр░╖р░┐р░Вр░Ър░Вр░бр░┐",
"six": "р░кр▒Нр░░р░╡р▒Зр░╢ р░кр░░р▒Ар░Хр▒Нр░╖р░▓р░Хр▒Б р░╕р░┐р░жр▒Нр░зр░ор░пр▒Нр░пр░┐ р░╡р░┐р░Ьр░пр░В р░╕р░╛р░зр░┐р░Вр░Ър░Вр░бр░┐",

    "footerText": "р░ор░░р▒Кр░Х р░Ер░бр▒Бр░Чр▒Б р░╡р░┐р░Ьр░пр░В! р░ор▒А р░Хр░│р░╛р░╢р░╛р░▓ р░Хр░▓р░▓р▒Б, р░ор░╛ р░ир░┐р░кр▒Бр░гр▒Бр░▓ р░ор░╛р░░р▒Нр░Чр░ир░┐р░░р▒Нр░жр▒Зр░╢р░В.",
    "readmore": "р░Зр░Вр░Хр░╛ р░Ър░жр░╡р░Вр░бр░┐",
    "termsCondition": "р░╡р░┐р░╡р░░р░╛р░▓р▒Б р░ор░░р░┐р░пр▒Б р░╖р░░р░др▒Бр░▓р▒Б",
    "createdBy": "р░И р░╡р▒Жр░мр▒НтАМр░╕р▒Ир░Яр▒НтАМр░ир▒Б р░╕р▒Бр░╢р░╛р░Вр░др▒Н, р░╕р░мр░░р░┐, р░╢р▒Нр░░р▒Ар░зр░░р░ир▒Н, р░пр▒Бр░╡р░ир▒НтАМр░╢р░Вр░Хр░░р▒Н, р░ор▒Зр░Чр░▓р░╛, р░Чр▒Лр░лр░╛р░░р▒Нр░др▒Нр░╡р░╛р░Хр░░р▒Н р░░р▒Вр░кр▒Кр░Вр░жр░┐р░Вр░Ър░╛р░░р▒Б.",
    "copyright": "&copy; р░Ер░ир▒Нр░ир░┐ р░╣р░Хр▒Нр░Хр▒Бр░▓р▒Б р░░р░┐р░Ьр░░р▒Нр░╡р▒Б р░Ър▒Зр░пр░мр░бр▒Нр░бр░╛р░пр░┐ campusway",
  },
  "ml": {
    "welcome": "р┤╕р╡Нр┤╡р┤╛р┤Чр┤др┤В",
    "campusWay": "р┤Хр┤╛р┤ор╡Нр┤кр┤╕р╡Н р┤╡р╡З",
    "hello": "р┤╢р╡Нр┤░р╡Зр┤пр┤╕р╡Нр┤╡р┤нр┤╛р┤╡р┤В р┤╕р╡Жр┤▓р┤Хр╡Нр┤Яр╡Н р┤Ър╡Жр┤пр╡Нр┤др╡Н р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤нр┤╛р┤╡р┤┐ р┤╢р┤Хр╡Нр┤др┤┐р┤кр╡Нр┤кр╡Жр┤Яр╡Бр┤др╡Нр┤др╡Бр┤Х! р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤╕р╡Нр┤╡р┤кр╡Нр┤и р┤Хр┤░р┤┐р┤пр┤▒р┤┐р┤▓р╡Зр┤Хр╡Нр┤Хр╡Н р┤ир┤пр┤┐р┤Хр╡Нр┤Хр┤╛р╡╗ р┤╡р┤┐р┤нр┤╡р┤Щр╡Нр┤Щр┤│р╡Бр┤В р┤╡р┤┐р┤╡р┤░р┤Щр╡Нр┤Щр┤│р╡Бр┤В р┤Хр┤гр╡Нр┤Яр╡Жр┤др╡Нр┤др╡Бр┤Х.",
    "changePassword": "р┤кр┤╛р┤╕р╡НтАМр┤╡р╡Зр┤бр╡Н р┤ор┤╛р┤▒р╡Нр┤▒р╡Бр┤Х",
    "logout": "р┤▓р╡Лр┤Чр╡Н р┤Фр┤Яр╡Нр┤Яр╡Н",
    "scholarships": "р┤кр┤гр╡Нр┤бр┤┐р┤др┤Щр╡Нр┤Щр┤│р╡Н",
    "resourses": "р┤Хр╡Лр┤│р╡Зр┤Ьр╡Н р┤кр╡Нр┤░р┤╡р┤Ър┤ир┤др╡Нр┤др┤┐р┤ир╡Н",
    "counceling": "р┤Хр╡Чр╡║р┤╕р┤┐р┤▓р┤┐р┤Вр┤Чр╡Н",
    "details": "р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤Ер┤Хр╡Нр┤Хр┤╛р┤жр┤ор┤┐р┤Хр╡Н р┤╡р┤┐р┤╢р┤жр┤╛р┤Вр┤╢р┤Щр╡Нр┤Щр╡╛",
    "college": "р┤Хр╡Лр┤│р╡Зр┤Ьр╡Бр┤Хр╡╛/р┤╡р┤┐р┤╢р╡Нр┤╡р┤╡р┤┐р┤жр╡Нр┤пр┤╛р┤▓р┤пр┤Щр╡Нр┤Щр╡╛",
    "entrance": "р┤кр╡Нр┤░р┤╡р╡Зр┤╢р┤и р┤кр┤░р╡Ар┤Хр╡Нр┤╖р┤Хр╡╛",
"one": "р┤╕р╡╝р┤Хр╡Нр┤Хр┤╛р┤░р┤┐р┤ир╡Нр┤▒р╡Ж р┤╕р┤╣р┤╛р┤пр┤др╡Нр┤др╡Лр┤Яр╡Ж р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤╡р┤┐р┤жр╡Нр┤пр┤╛р┤нр╡Нр┤пр┤╛р┤╕ р┤Ър╡Жр┤▓р┤╡р╡Бр┤Хр╡╛ р┤╕р╡Бр┤Цр┤кр╡Нр┤░р┤жр┤ор┤╛р┤пр┤┐ р┤кр╡Вр╡╝р┤др╡Нр┤др┤┐р┤пр┤╛р┤Хр╡Нр┤Хр╡Бр┤Х.",
"second": "р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤ор┤╛р╡╝р┤Хр╡Нр┤Хр┤┐р┤ир╡Бр┤│р╡Нр┤│ р┤Хр╡Гр┤др╡Нр┤пр┤ор┤╛р┤п р┤Хр╡Лр┤│р╡Зр┤Ьр╡Н р┤кр╡Нр┤░р┤╡р┤Ър┤ир┤Щр╡Нр┤Щр╡╛ р┤ир╡Зр┤Яр╡В.",
"three": "р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤╡р┤┐р┤жр╡Нр┤пр┤╛р┤нр╡Нр┤пр┤╛р┤╕р┤╡р╡Бр┤В р┤Хр┤░р┤┐р┤пр╡╝ р┤кр┤╛р┤др┤пр╡Бр┤В р┤Хр╡Бр┤▒р┤┐р┤Ър╡Нр┤Ър╡Н р┤Ер┤▒р┤┐р┤пр╡Бр┤ир╡Нр┤и р┤др╡Ар┤░р╡Бр┤ор┤╛р┤ир┤Щр╡Нр┤Щр╡╛ р┤Ор┤Яр╡Бр┤Хр╡Нр┤Хр┤╛р╡╗ р┤╡р┤┐р┤жр┤Чр╡Нр┤з р┤ор┤╛р╡╝р┤Чр┤ир┤┐р╡╝р┤жр╡Нр┤жр╡Зр┤╢р┤╡р╡Бр┤В р┤кр┤┐р┤ир╡Нр┤др╡Бр┤гр┤пр╡Бр┤В р┤ир╡Зр┤Яр╡Бр┤Х.",
"four": "р┤Тр┤░р╡Б р┤╡р╡Жр┤│р┤┐р┤Ър╡Нр┤Ър┤ор╡Бр┤│р╡Нр┤│ р┤нр┤╛р┤╡р┤┐р┤Хр╡Нр┤Хр┤╛р┤пр┤┐ р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤Ер┤Хр╡Нр┤Хр┤╛р┤жр┤ор┤┐р┤Хр╡Н р┤╡р┤┐р┤╡р┤░р┤Щр╡Нр┤Щр╡╛",
"five": "р┤ор┤┐р┤Хр┤Ър╡Нр┤Ъ р┤Хр╡Лр┤│р╡Зр┤Ьр╡Бр┤Хр╡╛р┤Хр╡Нр┤Хр╡Бр┤В р┤╕р╡╝р┤╡р┤Хр┤▓р┤╛р┤╢р┤╛р┤▓р┤Хр╡╛р┤Хр╡Нр┤Хр╡Бр┤В р┤др┤┐р┤Хр┤Юр╡Нр┤Юр┤др╡Н р┤Хр┤╛р┤гр╡Бр┤Х",
"six": "р┤кр╡Нр┤░р┤╡р╡Зр┤╢р┤и р┤кр┤░р╡Ар┤Хр╡Нр┤╖р┤Хр╡╛р┤Хр╡Нр┤Хр╡Н р┤др┤пр╡Нр┤пр┤╛р┤▒р┤╛р┤пр┤┐р┤░р┤┐р┤Хр╡Нр┤Хр╡Бр┤Х, р┤╡р┤┐р┤Ьр┤пр┤Хр┤░р┤ор┤╛р┤пр┤┐ р┤Йр┤Ър┤┐р┤др┤ор┤╛р┤пр┤┐ р┤кр╡Лр┤Хр╡Бр┤Х",

    "footerText": "р┤Ер┤Яр╡Бр┤др╡Нр┤д р┤Зр┤Яр┤В р┤╡р┤┐р┤Ьр┤пр┤ор┤╛р┤гр╡Н! р┤ир┤┐р┤Щр╡Нр┤Щр┤│р╡Бр┤Яр╡Ж р┤Хр╡Лр┤│р╡Зр┤Ьр╡Н р┤╕р╡Нр┤╡р┤кр╡Нр┤ир┤Щр╡Нр┤Щр╡╛, р┤ир┤ор╡Нр┤ор╡Бр┤Яр╡Ж р┤╡р┤┐р┤жр┤Чр╡Нр┤з р┤ор┤╛р╡╝р┤Чр┤ир┤┐р╡╝р┤жр╡Нр┤жр╡Зр┤╢р┤В.",
    "readmore": "р┤Хр╡Вр┤Яр╡Бр┤др╡╜ р┤╡р┤╛р┤пр┤┐р┤Хр╡Нр┤Хр╡Бр┤Х",
    "termsCondition": "р┤ир┤┐р┤мр┤ир╡Нр┤зр┤ир┤Хр┤│р╡Бр┤В р┤╡р╡Нр┤пр┤╡р┤╕р╡Нр┤ер┤Хр┤│р╡Бр┤В",
    "createdBy": "р┤И р┤╡р╡Жр┤мр╡Нр┤╕р╡Ир┤▒р╡Нр┤▒р╡Н р┤╕р╡Бр┤╖р┤╛р┤ир╡Нр┤др╡Н, р┤╕р┤мр┤░р┤┐, р┤╢р╡Нр┤░р╡Ар┤зр┤░р╡╗, р┤пр╡Бр┤╡р╡╗р┤╢р┤Щр╡Нр┤Хр╡╝, р┤ор╡Зр┤Чр┤▓р┤╛, р┤Чр╡Лр┤лр╡Лр╡╝р┤др╡НтАМр┤╡р┤╛р┤Хр╡Нр┤Хр╡╝ р┤░р╡Вр┤кр┤Хр╡╜р┤кр╡Нр┤кр┤и р┤Ър╡Жр┤пр╡НтАМр┤др┤др┤╛р┤гр╡Н.",
    "copyright": "&copy;р┤Ор┤▓р╡Нр┤▓р┤╛ р┤Ер┤╡р┤Хр┤╛р┤╢р┤Щр╡Нр┤Щр┤│р╡Бр┤В р┤╕р┤Вр┤░р┤Хр╡Нр┤╖р┤┐р┤др┤В campusway",
  }

  };

  function changeLanguage(language) {
    document.querySelectorAll("[data-translate]").forEach(function(element) {
      const key = element.getAttribute("data-translate");
      element.textContent = translations[language][key];
    });
  }
     function getCookie(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            return match ? decodeURIComponent(match[2]) : null;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const language = getCookie('preferredLanguage') || 'en'; // Default to 'en' if no cookie is set
            changeLanguage(language);
        });
   function toggleDropdown() {
    document.getElementById("dropdown").classList.toggle("show");
}

window.onclick = function(event) {
    if (!event.target.matches('.profile-icon')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}
   
function readOutText(text) {
    const speech = new SpeechSynthesisUtterance(text);
    speech.lang = 'en'; 
    window.speechSynthesis.speak(speech);
}

function setupReadOut() {
    const elements = document.querySelectorAll('[data-translate]');
    elements.forEach(element => {
        element.addEventListener('click', () => {
            const text = element.textContent || element.getAttribute('data-translate');
            readOutText(text);
        });
    });
}

document.addEventListener('DOMContentLoaded', setupReadOut);



  // Example: Call this function with the language code to change the language
  // changeLanguage('ta'); // Change to Tamil
  // changeLanguage('hi'); // Change to Hindi
</script>
