
<body id="top">

  <!-- 
    - #HEADER
  -->

    
  <header class="header" data-header>
    <div class="container">

      <h1>
        <a href="#" class="logo" data-translate="campusWay">CampusWay</a>
      </h1>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo" >CampusWay</a>

          <button class="nav-close-btn" aria-label="Clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

            <div id="feedbackMessage">{{message}}</div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>
              <span data-translate="home">Home</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>
              <span data-translate="about">About</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#service" class="navbar-link" data-nav-link>
              <span data-translate="service">Service</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#blog" class="navbar-link" data-nav-link>
              <span data-translate="blog">Blog</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>
              <span data-translate="contact">Contact</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
          <li class="navbar-item">
            <a href="/feedback" class="navbar-link" data-nav-link>
              <span data-translate="feedback">Feedback</span>

              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>
 {{!-- <div class="language-selector">
   
    <select id="language-dropdown" onchange="changeLanguage(this.value)">
      <option value="en">English</option>
      <option value="ta">Tamil</option>
      <option value="hi">Hindi</option>
      <option value="te">Telugu</option>
      <option value="ml">Malayalam</option>
    </select>
  </div> --}}
      <div class="header-contact">

        <div>
          {{!-- <p class="contact-label">Call To Sushant Mishra</p> --}}

          <a href="/login" class="btn-outline" data-translate="login">LOGIN</a>
        </div>

        {{!-- <div class="contact-icon">
          <ion-icon name="call-outline"></ion-icon>
        </div> --}}

      </div>

      <button class="nav-open-btn" aria-label="Open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home" id="home"
        style="background-image: url('./assets/images/Untitled design.png')">
        <div class="container">

          <div class="hero-content">

            <h2 class="h1 hero-title">
              <span class="span" data-translate="nextStepSuccess">NEXT STEP</span><span data-translate="success">IS SUCCESS</span>
            </h2>

            <p class="hero-text"data-translate="heroText">
              Your college dreams, our expert guidance
            </p>

            <a href="#service" class="btn-outline" data-translate="viewServices">View Services</a>

            <img src="./assets/images/hero-shape.png" width="116" height="116" loading="lazy"
              class="hero-shape shape-1">

            <img src="./assets/images/hero-shape.png" width="116" height="116" loading="lazy"
              class="hero-shape shape-2">

          </div>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner img-holder" style="--width: 400; --height: 720;">
            <img src="./assets/images/frontpage.jpg" width="400" height="720" loading="lazy" alt=""
              class="img-cover">

            <!-- <img src="./assets/images/about-shape-1.png" width="260" height="170" loading="lazy" alt=""
              class="abs-img abs-img-1"> -->

            <img src="./assets/images/about-shape-2.png" width="500" height="500" loading="lazy" alt=""
              class="abs-img abs-img-2">
          </figure>

          <div class="about-content">

            <p class="section-subtitle" data-translate="whyChooseUs">Why Choose Us</p>

            <h2 class="h2 section-title" data-translate="pathwayToSuccess">Your Pathway to College Success</h2>

            <p class="section-text"data-translate="whyChooseUsText">
             At CampusWay, we are committed to helping students achieve their college dreams. Our platform provides expert guidance and tools to navigate the college admission process, ensuring that every student finds the right path for their future.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>

                <p class="about-text" data-translate="accuratePredictions">
  Accurate college predictions based on your TNEA or Medical cutoff scores.

                </p>
              </li>

              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>

                <p class="about-text" data-translate="scholarshipsOpportunities">
      Access to scholarship opportunities to support your education financially.
                </p>
              </li>

              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>

                <p class="about-text" data-translate="stepByStepCounseling">
   Step-by-step counseling to guide you through the college admission process.
                </p>
              </li>

              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>

                <p class="about-text"data-translate="comprehensiveInfo">
  Comprehensive information on entrance exams, academic requirements, and more.
                </p>
              </li>

              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>

                <p class="about-text"data-translate="personalizedAdvice">
   Personalized advice tailored to your unique situation and goals.

                </p>
              </li>

              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>

                <p class="about-text" data-translate="dedicatedSupport">
Dedicated support for students from rural areas or less-educated families.
                </p>
              </li>

            </ul>

            <a href="#" class="btn" data-translate="learnMore">Learn More</a>

          </div>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle" data-translate="allServices">All Services</p>

          <h2 class="h2 section-title" data-translate="trustedForServices">Trusted For Our Services</h2>

          <p class="section-text" data-translate="servicesText">
             At CampusWay, we offer a range of services to support students throughout their college admission journey. Explore how we can help you achieve your academic goals:

          </p>

          <ul class="service-list grid-list">

              <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-1.png" width="80" height="60" loading="lazy" alt="Truck">
                </div>
                
              

                <h3 class="h3 card-title">
                  <span class="span">01</span><span data-translate="scholarships">Scholarships</span>
                </h3>

                <p class="card-text" data-translate="scholarshipsText">
                  Discover available scholarships and financial aid options to help fund your education.
   Our aim is to optimize and improve your supply chain so that we can give you the best service.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span" data-translate="viewDetail">View Detail</span>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-2.png" width="74" height="60" loading="lazy" alt="Ship">
                </div>

                <h3 class="h3 card-title">
                  <span class="span">02</span><span data-translate="resources">Resources</span>
                </h3>

                <p class="card-text" data-translate="resourcesText">
                   Access a wide range of resources to assist with college applications, test preparations, and more.
   Our aim is to optimize and improve your supply chain so that we can give you the best service.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span"data-translate="viewDetail">View Detail</span>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-3.png" width="60" height="60" loading="lazy" alt="Airplane">
                </div>

                <h3 class="h3 card-title">
                  <span class="span">03</span> <span data-translate="counselling">Counselling</span>
                </h3>

                <p class="card-text" data-translate="counsellingText">
   Get personalized counseling to help you make informed decisions about your college and career path.

                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span"data-translate="viewDetail">View Detail</span>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-4.png" width="50" height="60" loading="lazy" alt="Train">
                </div>

                <h3 class="h3 card-title">
                  <span class="span">04</span><span data-translate="academicDetails">Academic Details</span>
                </h3>

                <p class="card-text" data-translate="academicDetailsText">
                  Explore detailed academic information and guidance to help you excel in your studies.
  Our aim is to optimize and improve your supply chain so that we can give you the best service.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span" data-translate="viewDetail">View Detail</span>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-5.png" width="63" height="60" loading="lazy" alt="Trolley">
                </div>

                <h3 class="h3 card-title">
                  <span class="span">05</span><span data-translate="collegesUniversities">Colleges/Universities</span>

                </h3>

                <p class="card-text" data-translate="collegesUniversitiesText">
Find comprehensive information about colleges and universities to aid in your selection process.

                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span" data-translate="viewDetail">View Detail</span>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-icon-6.png" width="46" height="60" loading="lazy" alt="Paper">
                </div>

                <h3 class="h3 card-title">
                  <span class="span">06</span><span data-translate="entranceExams">Entrance Exams</span>

                </h3>

                <p class="card-text" data-translate="entranceExamsText">
  Get assistance and resources to prepare effectively for entrance exams required for college admissions.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span" data-translate="viewDetail">View Detail</span>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #FEATURE
      -->

      <section class="section feature" aria-label="feature">
        <div class="container">

          <div class="title-wrapper">

            <div>
              <p class="section-subtitle" data-translate="features">Features</p>

              <h2 class="h2 section-title" data-translate="featuresText">   Comprehensive Guidance for Your Academic Journey
</h2>

              <p class="section-text" data-translate="offer">
               We offer a range of features designed to support students through the college admission process and beyond.

              </p>
            </div>

            <a href="#" class="btn" data-translate="exploreMore">Explore  More</a>

          </div>

          <ul class="feature-list grid-list">

            <li>
              <div class="feature-card" style="--card-number: '01'">

                <div class="card-icon">
                  <img src="./assets/images/feature-icon-1.png" width="72" height="91" alt="">
                </div>

                <h3 class="h3 card-title" data-translate="scholarshipOpportunities">Scholarship Opportunities</h3>

                <p class="card-text" data-translate="scholarshipOpportunitiesText">
 Access a comprehensive list of scholarships and financial aid options to help fund your education.
                </p>

                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="feature-card" style="--card-number: '02'">

                <div class="card-icon">
                  <img src="./assets/images/feature-icon-2.png" width="94" height="94" alt="">
                </div>

                <h3 class="h3 card-title" data-translate="personalizedCounseling">Personalized Counseling</h3>

                <p class="card-text" data-translate="personalizedCounselingText">
                   Receive tailored advice and guidance to help you navigate the college application process and make informed decisions.

                </p>

                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="feature-card" style="--card-number: '03'">

                <div class="card-icon">
                  <img src="./assets/images/feature-icon-3.png" width="93" height="93" alt="">
                </div>

                <h3 class="h3 card-title" data-overlay="collegeInformation">College Information</h3>

                <p class="card-text" data-translate="collegeInformationText">
                   Get detailed information about various colleges and universities to help you choose the best fit for your academic goals.

                </p>

                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #PROJECT
      -->

      <section class="section project" aria-label="project">
        <div class="container">

          <p class="section-subtitle" data-translate="testimonials">Testimonials</p>

          <h2 class="h2 section-title" data-translate="whatOurStudentsSay">What Our Students Says About Us</h2>

          <p class="section-text" data-translate="hearDirectlyFromStudents">
            Hear directly from students who have benefited from our counseling and guidance services.

          </p>

          <ul class="project-list">

            <li class="project-item">
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="./assets/images/project-1.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>

                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>

                <div class="card-content">
                  <p class="card-tag" data-translate="scholarships">Scholarships, Counseling</p>

                  <h3 class="h3">
                    <a href="#" class="card-title" data-translate="johnDoeSuccessStory">John Doe's Success Story</a>
                  </h3>

                  <a href="#" class="card-link" data-translate="readMore">Read More</a>
                </div>

              </div>
            </li>

            <li class="project-item">
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="./assets/images/project-2.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>

                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>

                <div class="card-content">
                  <p class="card-tag" data-translate="academicGuidance">Academic Guidance, Entrance Exams</p>

                  <h3 class="h3">
                    <a href="#" class="card-title" data-translate="janeSmithAcademicJourney">Jane Smith's Academic Journey</a>
                  </h3>

                  <a href="#" class="card-link" data-translate="readMore">Read More</a>
                </div>

              </div>
            </li>

            <li class="project-item">
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="./assets/images/project-3.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>

                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>

                <div class="card-content">
                  <p class="card-tag" data-translate="collegeSelection">College Selection, Counseling</p>

                  <h3 class="h3">
                    <a href="#" class="card-title" data-translate="alexLeeCollegeExperience">Alex Lee's College Experience</a>
                  </h3>

                  <a href="#" class="card-link" data-translate="readMore">Read More</a>
                </div>

              </div>
            </li>

            <li class="project-item">
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="./assets/images/project-4.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>

                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>

                <div class="card-content">
                  <p class="card-tag" data-translate="logistics">Logistics, Analytics</p>

                  <h3 class="h3">
                    <a href="#" class="card-title" data-translate="minimizeManufacturing">Minimize Manufacturing</a>
                  </h3>

                  <a href="#" class="card-link" data-translate="readMore">Read More</a>
                </div>

              </div>
            </li>

            <li class="project-item">
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="./assets/images/project-5.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>

                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>

                <div class="card-content">
                  <p class="card-tag" data-translate="warehousingDistribution">Warehousing , Distrbution</p>

                  <h3 class="h3">
                    <a href="#" class="card-title" data-translate="warehouseInventory">Warehouse inventory</a>
                  </h3>

                  <a href="#" class="card-link" data-translate="readMore">Read More</a>
                </div>

              </div>
            </li>

            <li class="project-item">
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="./assets/images/project-6.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>

                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>

                <div class="card-content">
                  <p class="card-tag" data-translate="logistics">Logistics, Analytics</p>

                  <h3 class="h3">
                    <a href="#" class="card-title" data-translate="minimizeManufacturing">Minimize Manufacturing</a>
                  </h3>

                  <a href="#" class="card-link" data-translate="readMore">Read More</a>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog" aria-label="blog" id="blog">
        <div class="container">

          <p class="section-subtitle" data-translate="ourBlogs">Our Blogs</p>

          <h2 class="h2 section-title" data-translate="recentNewsEvents">Recent news & events</h2>

          <p class="section-text" data-translate="stayUpdated">
             Stay updated with the latest news, tips, and insights on college admissions, 
          </p>

          <ul class="blog-list grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 770; --height: 500;">
                  <img src="./assets/images/blog-1.jpg" width="770" height="500" loading="lazy"
                    alt="At the end of the day, going forward, a new normal that has evolved from. your only logistic partner."
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="card-meta" datetime="2022-08-02">
                    <span class="span">02</span> Aug
                  </time>

                  <h3 class="h3 card-title"data-translate="topTipsScholarships">
                    <a href="#">
                      Top Tips for Securing Scholarships in 2024
.
                    </a>
                  </h3>

                  <p class="card-text" data-translate="scholarshipTips">
                   Discover essential tips and strategies for securing scholarships and financial aid to support your college education.

                  </p>

                  <a href="#" class="btn-link">
                    <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                    <span class="span" data-translate="readMore">Read More</span>
                  </a>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 770; --height: 500;">
                  <img src="./assets/images/blog-2.jpg" width="770" height="500" loading="lazy"
                    alt="Going forward, a new normal that has evolved from generation. moving your products across all borders."
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="card-meta" datetime="2022-08-21">
                    <span class="span">21</span> Aug
                  </time>

                  <h3 class="h3 card-title">
                    <a href="#" data-translate="navigatingAdmissions">
                      Navigating the College Admissions Process: A Step-by-Step Guide

                    </a>
                  </h3>

                  <p class="card-text" data-translate="admissionsGuide">
                      A comprehensive guide to help students and parents navigate the complex college admissions process with ease.

                  </p>

                  <a href="#" class="btn-link">
                    <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                    <span class="span"data-translate="readMore">Read More</span>
                  </a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #NEWSLETTER
      -->

      <section class="section newsletter" aria-label="newsletter">
        <div class="container">

          <figure class="newsletter-banner img-holder">
            <img src="./assets/images/newsletter-banner.png" width="303" height="381" alt="newsletter banner"
              class="w-100">
          </figure>

          <div class="newsletter-content">

            <h2 class="h2 section-title" data-translate="stayUpdated">Stay Updated with College Admission Tips</h2>

            <form action="" class="newsletter-form">
              <input type="email" name="email_address" placeholder="Enter Your Email" aria-label="email"
                class="email-field">

              <button type="submit" class="newsletter-btn" data-translate="subscribeNewsletter"> Subscribe to our newsletter for the latest updates on college admissions, scholarship opportunities, and academic advice tailored to your needs.
</button>
            </form>

          </div>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <div class="footer-top section">

        <div class="footer-brand">

          <a href="#" class="logo"data-translate="campusWay">CampusWay</a>

          <p class="footer-text" data-translate="nextStepSuccess">
            Next Step Is Success ! <br>
            Your college dreams, our expert guidance
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Quick Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">About</a>
          </li>

          <li>
            <a href="#" class="footer-link">Services</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="footer-link">counseling</a>
          </li>

          <li>
            <a href="#" class="footer-link">scholarship</a>
          </li>

          <li>
            <a href="#" class="footer-link">academic history</a>
          </li>

          <li>
            <a href="#" class="footer-link">Entrance exams</a>
          </li>

          <li>
            <a href="#" class="footer-link">Packaging</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Community</p>
          </li>

          <li>
            <a href="#" class="footer-link">carrier Consulting</a>
          </li>

          <li>
            <a href="#" class="footer-link">Testimonials</a>
          </li>

          <li>
            <a href="#" class="footer-link">Track Your history</a>
          </li>

          <li>
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & Condition</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">
        <center><p data-translate="websiteCredits">
          This website is created by Sushant,Sabari,Sridharan,YuvanShankar,Megala,Goforthwalker</p></center>
        <p class="copyright"data-translate="copyright">
          &copy; 2022 Transportio. All Rights Reserved by <a href="#" class="copyright-link" data-translate="campusWay">CampusWay</a>
        </p>
      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->


  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

<script>
  'use strict';



/**
 * navbar toggle
 */

const navbar = document.querySelector("[data-navbar]");
const navToggler = document.querySelectorAll("[data-nav-toggler]");
const navLinks = document.querySelectorAll("[data-nav-link]");
const overlay = document.querySelector("[data-overlay]");

for (let i = 0; i < navToggler.length; i++) {
  navToggler[i].addEventListener("click", function () {
    navbar.classList.toggle("active");
    overlay.classList.toggle("active");
  });
}

for (let i = 0; i < navLinks.length; i++) {
  navLinks[i].addEventListener("click", function () {
    navbar.classList.remove("active");
    overlay.classList.remove("active");
  });
}



/**
 * header
 */

const header = document.querySelector("[data-header]");
const backTopBtn = document.querySelector("[data-back-top-btn]");

// window.addEventListener("scroll", function () {
//   if (window.scrollY >= 100) {
//     header.classList.add("active");
//     backTopBtn.classList.add("active");
//   } else {
//     header.classList.remove("active");
//     backTopBtn.classList.remove("active");
//   }
// });
window.addEventListener("scroll",function(){
  if (window.scrollY >= 100){
    header.classList.add("active");
    backTopBtn.classList.add("acive");
  }
  else{
    header.classList.remove("active");
    backTopBtn.classList.remove("active");
  }
});
       
        window.onload = function() {
            var messageElement = document.getElementById('feedbackMessage');
            if (messageElement.textContent.trim() !== "") {
                messageElement.style.display = 'block';
                
                setTimeout(function() {
                    messageElement.style.display = 'none';
                      window.history.replaceState(null, null, window.location.pathname);
                }, 3000);
            }
        }
  const translations = {
    "en": {
    "home": "Home",
    "about": "About",
    "service": "Service",
    "blog": "Blog",
    "contact": "Contact",
    "feedback": "Feedback",
    "login": "Login",
    "nextStepSuccess": "Next Step",
    "success":"is Success",
    "heroText": "Your College Dreams, Our Expert Guidance",
    "whyChooseUs": "Why Choose Us",
    "pathwayToSuccess": "Your Pathway to College Success",
    "whyChooseUsText": "At CampusWay, we are committed to helping students achieve their college dreams. Our platform provides guidance and tools through the college admission process, ensuring every student finds the right path for their future.",
    "accuratePredictions": "Accurate college predictions based on your TNEA or medical cut-off scores.",
    "scholarshipsOpportunities": "Scholarship opportunities available to help fund your education.",
    "stepByStepCounseling": "Step-by-step counseling to guide you through the college admission process.",
    "comprehensiveInfo": "Comprehensive information about entrance exams, academic requirements, and more.",
    "personalizedAdvice": "Personalized advice tailored to your specific situation and goals.",
    "dedicatedSupport": "Dedicated support for students from rural areas or low-education families.",
    "learnMore": "Learn More",
    "allServices": "All Services",
    "trustedForServices": "Trusted for Our Services",
    "servicesText": "At CampusWay, we offer a range of services to support students in their college admission journey. See how we can help you achieve your academic goals:",
    "scholarships": "Scholarships",
    "scholarshipsText": "Find the best scholarships and financial aid available to help fund your education. We are committed to enhancing your supply range and providing the best service.",
    "viewDetail": "View Details",
    "resources": "Resources",
    "resourcesText": "Gain access to a wide range of resources for college applications, exam preparation, and more. We are committed to enhancing your supply range and providing the best service.",
    "counselling": "Counseling",
    "counsellingText": "Receive personalized counseling to provide information on your college and career path.",
    "academicDetails": "Academic Details",
    "academicDetailsText": "Get detailed academic information and guidance to achieve the best performance in your studies.",
    "collegesUniversities": "Colleges/Universities",
    "collegesUniversitiesText": "Get comprehensive information about colleges and universities to assist in your selection process.",
    "entranceExams": "Entrance Exams",
    "entranceExamsText": "Get help and resources for entrance exams needed for college admission.",
    "features": "Features",
    "featuresText": "Comprehensive Guidance for Your Academic Journey.",
    "offer":" We offer a range of features designed to support students through the college admission process and beyond.",
    "exploreMore": "Explore More",
    "scholarshipOpportunities": "Scholarship Opportunities",
    "scholarshipOpportunitiesText": "Access a comprehensive list of scholarships and financial aid options to help fund your education.",
    "personalizedCounseling": "Personalized Counseling",
    "personalizedCounselingText": "Receive tailored advice and guidance to help you navigate the college application process and make informed decisions.",
    "collegeInformation": "College Information",
    "collegeInformationText": "Get detailed information about various colleges and universities to help you choose the best fit for your academic goals.",
      "testimonials": "Testimonials",
    "whatOurStudentsSay": "What Our Students Say About Us",
    "hearDirectlyFromStudents": "Hear directly from students who have benefited from our counseling and guidance services.",
     "scholarships": "Scholarships,Counseling",
    "johnDoeSuccessStory": "John Doe's Success Story",
    "readMore": "Read More",
    "academicGuidance": "Academic Guidance,Entrance Exams",
   
    "janeSmithAcademicJourney": "Jane Smith's Academic Journey",
    "collegeSelection": "College Selection",
    "alexLeeCollegeExperience": "Alex Lee's College Experience",
     "logistics": "Logistics, Analytics",
    "minimizeManufacturing": "Minimize Manufacturing",
    "warehousingDistribution": "Warehousing, Distribution",
    "warehouseInventory": "Warehouse Inventory",
    "ourBlogs": "Our Blogs",
    "recentNewsEvents": "Recent News & Events",
    "stayUpdated": "Stay updated with the latest news, tips, and insights on college admissions.",
    "topTipsScholarships": "Top Tips for Securing Scholarships in 2024.",
    "scholarshipTips": "Discover essential tips and strategies for securing scholarships and financial aid to support your college education.",
    "navigatingAdmissions": "Navigating the College Admissions Process: A Step-by-Step Guide",
    "admissionsGuide": "A comprehensive guide to help students and parents navigate the complex college admissions process with ease.",
       "stayUpdated": "Stay Updated with College Admission Tips",
    "subscribeNewsletter": "Subscribe to our newsletter for the latest updates on college admissions, scholarship opportunities, and academic advice tailored to your needs.",
    "collegeDreams": "Your college dreams, our expert guidance",
    "quickLinks": "Quick Links",
    "next":"Next Step Is Success!,Your college dreams, our expert guidance",
    "services": "Services",
    "community": "Community",
     "websiteCredits": "This website is created by Sushant, Sabari, Sridharan, YuvanShankar, Megala, Goforthwalker",
    "copyright": "© 2022 Transportio. All Rights Reserved by CampusWay",
       "campusWay": "CampusWay",
       "viewServices": "View Services"

    
  },
  "ta": {
    "home": "முகப்பு",
    "about": "பற்றி",
    "service": "சேவை",
    "blog": "வலைப்பதிவு",
    "contact": "தொடர்பு",
    "feedback": "கருத்து",
    "login": "உள்நுழைவு",
    "nextStepSuccess": "அடுத்த நிலை",
    "success":"வெற்றி",
    "heroText": "உங்கள் கல்லூரி கனவுகள், எங்கள் நிபுணர் வழிகாட்டுதல்",
    "whyChooseUs": "நீங்கள் ஏன் எங்களை தேர்ந்தெடுக்க வேண்டும்",
    "pathwayToSuccess": "கல்லூரி வெற்றிக்கு உங்கள் பாதை",
    "whyChooseUsText": "CampusWay-ல், மாணவர்களுக்கு அவர்கள் கல்லூரி கனவுகளை நிறைவேற்ற உதவுவதற்கு நாங்கள் அர்ப்பணித்துள்ளோம். எங்கள் தளம் கல்லூரி சேர்க்கை செயல்முறை மூலம் வழிகாட்டுதலும் கருவிகளையும் வழங்குகிறது, ஒவ்வொரு மாணவரும் அவர்களுடைய எதிர்காலத்திற்கு சரியான பாதையை கண்டுபிடிப்பதை உறுதிசெய்கிறது.",
    "accuratePredictions": "உங்கள் TNEA அல்லது மருத்துவ வெட்டு மதிப்பெண்களின் அடிப்படையில் சரியான கல்லூரி கணிப்புகள்.",
    "scholarshipsOpportunities": "உங்கள் கல்விக்கான நிதியுதவியை வழங்குவதற்கு கிடைக்கக்கூடிய கல்வி உதவித்தொகைகள்.",
    "stepByStepCounseling": "கல்லூரி சேர்க்கை செயல்முறையின் வழியாக உங்கள் வழிகாட்டுதலுக்காக படிப்படியாக ஆலோசனை.",
    "comprehensiveInfo": "நுழைவுத் தேர்வுகள், கல்வித் தேவைகள் மற்றும் பிற விஷயங்களின் முழுமையான தகவல்.",
    "personalizedAdvice": "உங்கள் குறிப்பிட்ட சூழல் மற்றும் இலக்குகளுக்கு ஏற்ப தனிப்பட்ட ஆலோசனை.",
    "dedicatedSupport": "கிராமப்புறப் பகுதிகளில் இருந்து அல்லது குறைவான கல்வியுள்ள குடும்பங்களிலிருந்து வந்த மாணவர்களுக்கு அர்ப்பணிக்கப்பட்ட ஆதரவு.",
    "learnMore": "மேலும் அறிக",
    "allServices": "அனைத்து சேவைகள்",
    "trustedForServices": "எங்கள் சேவைகளுக்கு நம்பிக்கை",
    "servicesText": "CampusWay-ல், கல்லூரி சேர்க்கை பயணத்தில் மாணவர்களுக்கு ஆதரவு வழங்க பல்வேறு சேவைகளை நாங்கள் வழங்குகிறோம். உங்கள் கல்வி இலக்குகளை அடைய எங்களுக்கு எப்படி உதவ முடியும் என்று பாருங்கள்:",
    "scholarships": "கல்வி உதவித்தொகைகள்",
    "scholarshipsText": "உங்கள் கல்விக்கான நிதியுதவியை வழங்குவதற்கு கிடைக்கக்கூடிய சிறந்த கல்வி உதவித்தொகைகள் மற்றும் நிதியுதவியை கண்டுபிடிக்கவும். சிறந்த சேவையை வழங்குவதற்கு உங்கள் பொருளாதார அளவுகோலை மேம்படுத்த நாங்கள் அர்ப்பணித்துள்ளோம்.",
    "viewDetail": "விவரங்களைப் பார்வையிடவும்",
    "resources": "வளங்கள்",
    "resourcesText": "கல்லூரி விண்ணப்பங்கள், தேர்வு தயாரிப்பு மற்றும் பிறவற்றிற்கான விரிவான வளங்களுக்கு அணுகலைப் பெறுங்கள். சிறந்த சேவையை வழங்குவதற்கு உங்கள் பொருளாதார அளவுகோலை மேம்படுத்த நாங்கள் அர்ப்பணித்துள்ளோம்.",
    "counselling": "ஆலோசனை",
    "counsellingText": "உங்கள் கல்லூரி மற்றும் வேலைவாய்ப்பு பாதை பற்றிய தகவலை வழங்க தனிப்பட்ட ஆலோசனையைப் பெறுங்கள்.",
    "academicDetails": "கல்வி விவரங்கள்",
    "academicDetailsText": "உங்கள் படிப்பில் சிறந்த செயல்திறனை அடைய விரிவான கல்வி தகவல் மற்றும் வழிகாட்டுதலைப் பெறுங்கள்.",
    "collegesUniversities": "கல்லூரிகள்/பல்கலைக்கழகங்கள்",
    "collegesUniversitiesText": "உங்கள் தேர்வு செயல்முறையில் உதவ கல்லூரிகள் மற்றும் பல்கலைக்கழகங்கள் பற்றிய முழுமையான தகவலைப் பெறுங்கள்.",
    "entranceExams": "நுழைவுத் தேர்வுகள்",
    "entranceExamsText": "கல்லூரி சேர்க்கைக்கான நுழைவுத் தேர்வுகளுக்கான உதவி மற்றும் வளங்களைப் பெறுங்கள்.",
    "features": "விசேஷங்கள்",
    "featuresText": "உங்கள் கல்வி பயணத்திற்கான முழுமையான வழிகாட்டுதல்.",
    "offer":" கல்லூரி சேர்க்கை செயல்முறையின் வழியாகவும் அதற்கு அப்பாலும் மாணவர்களுக்கு ஆதரவு வழங்கும் பல்வேறு விசேஷங்களையும் நாங்கள் வழங்குகிறோம்.",
    "exploreMore": "மேலும் ஆராயவும்",
    "scholarshipOpportunities": "கல்வி உதவித்தொகை வாய்ப்புகள்",
    "scholarshipOpportunitiesText": "உங்கள் கல்விக்கான நிதியுதவியை வழங்குவதற்கு கிடைக்கக்கூடிய விரிவான கல்வி உதவித்தொகைகள் மற்றும் நிதியுதவி வாய்ப்புகளுக்கு அணுகலைக் கொள்ளுங்கள்.",
    "personalizedCounseling": "தனிப்பட்ட ஆலோசனை",
    "personalizedCounselingText": "கல்லூரி விண்ணப்ப செயல்முறையை உணர்ந்து தீர்மானங்களை எடுக்க உங்களை வழிகாட்ட தனிப்பட்ட ஆலோசனை மற்றும் வழிகாட்டுதலைப் பெறுங்கள்.",
    "collegeInformation": "கல்லூரி தகவல்",
    "collegeInformationText": "உங்கள் கல்வி இலக்குகளுக்கு சிறந்த பொருத்தத்தைத் தேர்ந்தெடுக்க உங்களுக்கு உதவ பல்வேறு கல்லூரிகள் மற்றும் பல்கலைக்கழகங்கள் பற்றிய விரிவான தகவலைப் பெறுங்கள்.",
      "testimonials": "சான்றுகள்",
    "whatOurStudentsSay": "எங்களைப் பற்றிப் மாணவர்கள் என்ன சொல்கிறார்கள்",
    "hearDirectlyFromStudents": "எங்கள் ஆலோசனை மற்றும் வழிகாட்டல் சேவைகளால் பயன் அடைந்த மாணவர்களிடமிருந்து நேரடியாகக் கேளுங்கள்.",
        "scholarships": "படிப்புகளுக்கான உதவித் தொகைகள்,ஆலோசனை",
  
    "johnDoeSuccessStory": "ஜான் டோவின் வெற்றி கதை",
    "readMore": "மேலும் வாசிக்க",
    "academicGuidance": "அரசியல் வழிகாட்டல்,முகாம் தேர்வுகள்",
    
    "janeSmithAcademicJourney": "ஜெயின் ஸ்மித் கல்வி பயணம்",
    "collegeSelection": "கல்லூரி தேர்வு",
    "alexLeeCollegeExperience": "அலெக்ஸ் லீ கல்லூரி அனுபவம்",
       "logistics": "லாஜிஸ்டிக்ஸ், அனலிடிக்ஸ்",
    "minimizeManufacturing": "தயாரிப்பை குறைக்கவும்",
    "warehousingDistribution": "சேமிப்பு, விநியோகம்",
    "warehouseInventory": "சேமிப்பு பட்டியல்",
    "ourBlogs": "எங்கள் வலைப்பதிவுகள்",
    "recentNewsEvents": "சமீபத்திய செய்திகள் மற்றும் நிகழ்வுகள்",
    "stayUpdated": "கல்லூரி சேர்க்கைகள் பற்றிய அண்மைய செய்திகள், குறிப்புகள் மற்றும் கருத்துக்களைப் புதுப்பித்துக் கொள்ளுங்கள்.",
    "topTipsScholarships": "2024-ல் உதவிகள் பெறுவதற்கான மேலாண்மைக் குறிப்புகள்",
    "scholarshipTips": "உங்கள் கல்வி செலவுகளை ஆதரிக்க உதவிகள் மற்றும் நிதியுதவிகளைப் பெறுவதற்கான அடிப்படைக் குறிப்புகள் மற்றும் உத்திகளைப் கண்டறியுங்கள்.",
    "navigatingAdmissions": "கல்லூரி சேர்க்கைகள் செயல்முறையை வழிகாட்டுதல்: படி-அடுத்து-படி வழிகாட்டி",
    "admissionsGuide": "விரித்தள கல்லூரி சேர்க்கைகள் செயல்முறையை எளிதாக நெறிப்படுத்த உதவிய ஒரு முழுமையான வழிகாட்டி.",
     "stayUpdated": "கல்லூரி சேர்க்கை குறிப்புகளுடன் புதுப்பிக்கப்பட்டு இருங்கள்",
    "subscribeNewsletter": "கல்லூரி சேர்க்கைகள், உதவிகள் வாய்ப்புகள், மற்றும் உங்கள் தேவைகளுக்கு ஏற்ப கல்வி ஆலோசனைகள் பற்றிய புதிய செய்திகளைப் பெற எங்கள் செய்தி அஞ்சலிக்கு சந்தா செய்யவும்.",
   
    "collegeDreams": "உங்கள் கல்லூரி கனவுகள், எங்கள் நிபுணர்களின் வழிகாட்டுதல்",
    "quickLinks": "வேகமான இணைப்புகள்",
    "services": "சேவைகள்",
    "community": "சமூகம",
     "websiteCredits": "இந்த இணையதளத்தை சுஷாந்த், சபரி, ஸ்ரீதரன், யுவன் ஷங்கர், மேகலா, கோஃபர்த்வாக்கர் உருவாக்கியுள்ளனர்",
    "copyright": "© 2022 டிரான்ஸ்போர்டியோ. அனைத்து உரிமைகளும் கம்பஸ் வேஏக்கு மீண்டும் பெறப்பட்டுள்ளது",
        "campusWay": "கேம்பஸ் வே",
          "viewServices": "சேவைகளை பார்க்கவும்"



  },
   "hi": {
    "home": "मुख पृष्ठ",
    "about": "हमारे बारे में",
    "service": "सेवा",
    "blog": "ब्लॉग",
    "contact": "संपर्क करें",
    "feedback": "प्रतिपुष्टि",
    "login": "लॉग इन",
    "nextStepSuccess": "अगला कदम",
    "success":"सफलता है",
    "heroText": "आपके कॉलेज के सपने, हमारी विशेषज्ञ मार्गदर्शन",
    "whyChooseUs": "हम क्यों चुनें",
    "pathwayToSuccess": "कॉलेज की सफलता के लिए आपका मार्ग",
    "whyChooseUsText": "CampusWay में, हम छात्रों को उनके कॉलेज के सपने पूरे करने में मदद करने के लिए प्रतिबद्ध हैं। हमारा प्लेटफार्म कॉलेज प्रवेश प्रक्रिया के दौरान मार्गदर्शन और उपकरण प्रदान करता है, यह सुनिश्चित करते हुए कि हर छात्र अपने भविष्य के लिए सही रास्ता खोजे।",
    "accuratePredictions": "आपके TNEA या मेडिकल कटऑफ अंकों के आधार पर सटीक कॉलेज भविष्यवाणियाँ।",
    "scholarshipsOpportunities": "आपकी शिक्षा के लिए वित्तीय सहायता देने के लिए उपलब्ध छात्रवृत्ति अवसर।",
    "stepByStepCounseling": "कॉलेज प्रवेश प्रक्रिया के माध्यम से आपका मार्गदर्शन करने के लिए चरण-दर-चरण परामर्श।",
    "comprehensiveInfo": "प्रवेश परीक्षाओं, शैक्षणिक आवश्यकताओं और अधिक के बारे में व्यापक जानकारी।",
    "personalizedAdvice": "आपकी विशिष्ट स्थिति और लक्ष्यों के अनुसार व्यक्तिगत सलाह।",
    "dedicatedSupport": "ग्रामीण क्षेत्रों या कम शिक्षित परिवारों से आने वाले छात्रों के लिए समर्पित समर्थन।",
    "learnMore": "और जानें",
    "allServices": "सभी सेवाएं",
    "trustedForServices": "हमारी सेवाओं के लिए विश्वसनीय",
    "servicesText": "CampusWay में, हम छात्रों को उनके कॉलेज प्रवेश यात्रा के दौरान समर्थन देने के लिए विभिन्न सेवाएं प्रदान करते हैं। जानें कि हम आपको आपके शैक्षणिक लक्ष्यों को प्राप्त करने में कैसे मदद कर सकते हैं:",
    "scholarships": "छात्रवृत्तियाँ",
    "scholarshipsText": "आपकी शिक्षा के लिए वित्तीय सहायता प्रदान करने के लिए उपलब्ध सर्वोत्तम छात्रवृत्तियाँ और वित्तीय सहायता खोजें। हमारा उद्देश्य आपकी आपूर्ति श्रृंखला को अनुकूलित करना और सर्वश्रेष्ठ सेवा प्रदान करना है।",
    "viewDetail": "विवरण देखें",
    "resources": "संसाधन",
    "resourcesText": "कॉलेज आवेदनों, परीक्षा की तैयारी और अधिक के लिए संसाधनों की एक विस्तृत श्रृंखला तक पहुंच प्राप्त करें। हमारा उद्देश्य आपकी आपूर्ति श्रृंखला को अनुकूलित करना और सर्वश्रेष्ठ सेवा प्रदान करना है।",
    "counselling": "परामर्श",
    "counsellingText": "कॉलेज और करियर पथ के बारे में जानकारी प्रदान करने के लिए व्यक्तिगत परामर्श प्राप्त करें।",
    "academicDetails": "शैक्षणिक विवरण",
    "academicDetailsText": "अपनी पढ़ाई में सर्वश्रेष्ठ प्रदर्शन प्राप्त करने के लिए विस्तृत शैक्षणिक जानकारी और मार्गदर्शन प्राप्त करें।",
    "collegesUniversities": "कॉलेज/विश्वविद्यालय",
    "collegesUniversitiesText": "चयन प्रक्रिया में सहायता के लिए कॉलेजों और विश्वविद्यालयों के बारे में व्यापक जानकारी प्राप्त करें।",
    "entranceExams": "प्रवेश परीक्षाएं",
    "entranceExamsText": "कॉलेज प्रवेश के लिए आवश्यक प्रवेश परीक्षाओं के लिए सहायता और संसाधन प्राप्त करें।",
    "features": "विशेषताएँ",
    "featuresText": "आपकी शैक्षणिक यात्रा के लिए व्यापक मार्गदर्शन।",
    "offer":"हम कॉलेज प्रवेश प्रक्रिया और उससे आगे के दौरान छात्रों का समर्थन करने के लिए विभिन्न विशेषताएं प्रदान करते हैं।",
    "exploreMore": "अधिक जानें",
    "scholarshipOpportunities": "छात्रवृत्ति के अवसर",
    "scholarshipOpportunitiesText": "आपकी शिक्षा के लिए वित्तीय सहायता प्रदान करने के लिए उपलब्ध व्यापक छात्रवृत्तियों और वित्तीय सहायता विकल्पों तक पहुंच प्राप्त करें।",
    "personalizedCounseling": "व्यक्तिगत परामर्श",
    "personalizedCounselingText": "कॉलेज आवेदन प्रक्रिया को समझने और सूचित निर्णय लेने में मदद करने के लिए व्यक्तिगत परामर्श और मार्गदर्शन प्राप्त करें।",
    "collegeInformation": "कॉलेज की जानकारी",
    "collegeInformationText": "अपने शैक्षणिक लक्ष्यों के लिए सबसे उपयुक्त कॉलेज का चयन करने में सहायता के लिए विभिन्न कॉलेजों और विश्वविद्यालयों के बारे में विस्तृत जानकारी प्राप्त करें।",
       "testimonials": "प्रशंसापत्र",
    "whatOurStudentsSay": "हमारे बारे में हमारे छात्र क्या कहते हैं",
    "hearDirectlyFromStudents": "उन छात्रों से सीधे सुनें जिन्हें हमारी काउंसलिंग और मार्गदर्शन सेवाओं से लाभ हुआ है।",
     "scholarships": "छात्रवृत्तियाँ,परामर्श",

    "johnDoeSuccessStory": "जॉन डो की सफलता की कहानी",
    "readMore": "अधिक पढ़ें",
    "academicGuidance": "शैक्षिक मार्गदर्शन,प्रवेश परीक्षा",
   
    "janeSmithAcademicJourney": "जेन स्मिथ की शैक्षिक यात्रा",
    "collegeSelection": "कॉलेज चयन",
    "alexLeeCollegeExperience": "एलेक्स ली का कॉलेज अनुभव",
     "logistics": "लॉजिस्टिक्स, एनालिटिक्स",
    "minimizeManufacturing": "निर्माण को कम करें",
    "warehousingDistribution": "गोदाम, वितरण",
    "warehouseInventory": "गोडाम सूची",
    "ourBlogs": "हमारे ब्लॉग",
    "recentNewsEvents": "हाल की खबरें और घटनाएँ",
    "stayUpdated": "कॉलेज एडमिशन के नवीनतम समाचार, सुझाव और जानकारी से अपडेट रहें।",
    "topTipsScholarships": "2024 में छात्रवृत्तियों के लिए शीर्ष सुझाव",
    "scholarshipTips": "आपकी कॉलेज शिक्षा के समर्थन के लिए छात्रवृत्तियों और वित्तीय सहायता प्राप्त करने के लिए आवश्यक सुझाव और रणनीतियाँ जानें।",
    "navigatingAdmissions": "कॉलेज एडमिशन प्रक्रिया को नेविगेट करना: एक कदम-दर-कदम मार्गदर्शिका",
    "admissionsGuide": "छात्रों और माता-पिता को कॉलेज एडमिशन प्रक्रिया को आसानी से नेविगेट करने में मदद करने के लिए एक व्यापक मार्गदर्शिका।",
      "stayUpdated": "कॉलेज प्रवेश सुझावों के साथ अपडेट रहें",
    "subscribeNewsletter": "कॉलेज प्रवेश, छात्रवृत्ति के अवसर, और आपकी जरूरतों के अनुसार शैक्षणिक सलाह के नवीनतम अपडेट के लिए हमारी न्यूज़लेटर को सब्सक्राइब करें।",
    
    "collegeDreams": "आपके कॉलेज के सपने, हमारी विशेषज्ञ मार्गदर्शन",
    "quickLinks": "त्वरित लिंक",
    "services": "सेवाएँ",
    "community": "समुदाय",
      "websiteCredits": "यह वेबसाइट सुषांत, सबरी, श्रीधरन, युवानशंकर, मेगला, गोफोर्थवॉकर द्वारा बनाई गई है",
    "copyright": "© 2022 ट्रांसपोर्टियो। सभी अधिकार CampusWay द्वारा सुरक्षित",
    "campusWay": "कैम्पस वे",
        "viewServices": "सेवाएँ देखें"




  },
   "te": {
    "home": "హోమ్",
    "about": "గురించి",
    "service": "సేవ",
    "blog": "బ్లాగ్",
    "contact": "సంప్రదించండి",
    "feedback": "స్పందన",
    "login": "లాగిన్",
    "nextStepSuccess": "తదుపరి అడుగు",
    "success":"విజయానికి",
    "heroText": "మీ కళాశాల కలలు, మా నిపుణుల మార్గదర్శకత",
    "whyChooseUs": "మమ్మల్ని ఎందుకు ఎంచుకోవాలి",
    "pathwayToSuccess": "మీ కళాశాల విజయానికి మార్గం",
    "whyChooseUsText": "క్యాంపస్‌వేలో, మేము విద్యార్థులు వారి కళాశాల కలలను సాధించడంలో సహాయపడటానికి కట్టుబడి ఉన్నాము. మా వేదిక కళాశాల ప్రవేశ ప్రక్రియలో నిపుణుల మార్గదర్శకత మరియు పరికరాలను అందిస్తుంది, ప్రతి విద్యార్థి వారి భవిష్యత్తుకు సరైన మార్గాన్ని కనుగొనడం ఖాయం చేస్తుంది.",
    "accuratePredictions": "మీ TNEA లేదా మెడికల్ కట్‌ఆఫ్ స్కోర్ల ఆధారంగా ఖచ్చితమైన కళాశాల అంచనాలు.",
    "scholarshipsOpportunities": "మీ విద్యను ఆర్థికంగా సహాయపడేందుకు అందుబాటులో ఉన్న పాఠశాలలు.",
    "stepByStepCounseling": "కళాశాల ప్రవేశ ప్రక్రియలో మీరు మార్గం చూపేందుకు అడుగు-అడుగుగా కౌన్సెలింగ్.",
    "comprehensiveInfo": "ప్రవేశ పరీక్షలు, విద్య అవసరాలు మరియు మరిన్ని సంబంధించి సమగ్ర సమాచారం.",
    "personalizedAdvice": "మీ ప్రత్యేక పరిస్థితి మరియు లక్ష్యాలకు అనుగుణంగా వ్యక్తిగత సలహా.",
    "dedicatedSupport": "గ్రామీణ ప్రాంతాల నుంచి వచ్చిన విద్యార్థులకు లేదా తక్కువ విద్య ఉన్న కుటుంబాలకు ప్రత్యేక సహాయం.",
    "learnMore": "మరిన్ని తెలుసుకోండి",
    "allServices": "అన్ని సేవలు",
    "trustedForServices": "మా సేవలకు విశ్వసించబడింది",
    "servicesText": "క్యాంపస్‌వేలో, మేము విద్యార్థులు వారి కళాశాల ప్రవేశ ప్రయాణంలో మద్దతుగా ఉండేందుకు వివిధ సేవలను అందిస్తాము. మేము మీ విద్యా లక్ష్యాలను చేరుకోవడంలో ఎలా సహాయపడగలమో తెలుసుకోండి:",
    "scholarships": "పాఠశాలలు",
    "scholarshipsText": "మీ విద్యను ఆర్థికంగా సహాయపడేందుకు అందుబాటులో ఉన్న స్కాలర్‌షిప్లు మరియు ఆర్థిక సహాయం కోసం అన్వేషించండి. మా లక్ష్యం మీ సరఫరా గొలుసును గరిష్టం చేయడం మరియు ఉత్తమ సేవను అందించడం.",
    "viewDetail": "వివరాలు చూడండి",
    "resources": "వనరులు",
    "resourcesText": "కళాశాల దరఖాస్తులు, పరీక్షా తయారీ మరియు మరిన్ని కోసం వనరుల విస్తృత శ్రేణి ప్రాప్తి పొందండి. మా లక్ష్యం మీ సరఫరా గొలుసును గరిష్టం చేయడం మరియు ఉత్తమ సేవను అందించడం.",
    "counselling": "కౌన్సెలింగ్",
    "counsellingText": "కళాశాలలు మరియు కెరీర్ మార్గాలపై సమాచారం అందించడానికి వ్యక్తిగత సలహా పొందండి.",
    "academicDetails": "విద్యా వివరాలు",
    "academicDetailsText": "మీ విద్యలో ఉత్తమ ప్రదర్శనను అందుకునేందుకు వివరించిన విద్యా సమాచారం మరియు మార్గదర్శకత పొందండి.",
    "collegesUniversities": "కళాశాలలు/పట్టభద్రతలు",
    "collegesUniversitiesText": "ఎంపిక ప్రక్రియకు సహాయపడేందుకు కళాశాలలు మరియు విశ్వవిద్యాలయాల గురించి సమగ్ర సమాచారం పొందండి.",
    "entranceExams": "ప్రవేశ పరీక్షలు",
    "entranceExamsText": "కళాశాల ప్రవేశానికి అవసరమైన ప్రవేశ పరీక్షల కోసం సహాయం మరియు వనరులు పొందండి.",
    "features": "విశేషాలు",
    "featuresText": "మీ విద్యా ప్రయాణానికి సమగ్ర మార్గదర్శకత.",
    "offer":" మేము కళాశాల ప్రవేశ ప్రక్రియ మరియు తదుపరి సమయంలో విద్యార్థులను మద్దతుగా ఉండేందుకు వివిధ విశేషాలను అందిస్తాము.",
    "exploreMore": "మరిన్ని తెలుసుకోండి",
    "scholarshipOpportunities": "పాఠశాల అవకాశాలు",
    "scholarshipOpportunitiesText": "మీ విద్యకు ఆర్థిక సహాయం అందించేందుకు అందుబాటులో ఉన్న సమగ్ర పాఠశాలలు మరియు ఆర్థిక సహాయం ఎంపికలను ప్రాప్తి పొందండి.",
    "personalizedCounseling": "వ్యక్తిగత కౌన్సెలింగ్",
    "personalizedCounselingText": "కళాశాల దరఖాస్తు ప్రక్రియను అర్థం చేసుకోవడంలో మరియు సులభమైన నిర్ణయాలు తీసుకోవడంలో సహాయపడేందుకు వ్యక్తిగత సలహా మరియు మార్గదర్శకత పొందండి.",
    "collegeInformation": "కళాశాల సమాచారం",
    "collegeInformationText": "మీ విద్యా లక్ష్యాలకు సరైన కళాశాలను ఎంపిక చేసుకోవడానికి వివిధ కళాశాలలు మరియు విశ్వవిద్యాలయాల గురించి వివరించిన సమాచారం పొందండి.",
     "testimonials": "సాక్ష్యాలు",
    "whatOurStudentsSay": "మా గురించి మా విద్యార్థులు ఏమంటారు",
    "hearDirectlyFromStudents": "మా కౌన్సెలింగ్ మరియు మార్గదర్శక సేవల ద్వారా ప్రయోజనం పొందిన విద్యార్థుల నుండి నేరుగా వినండి.",
     "scholarships": "ఉపాధి సహాయాలు,సలహా",

    "johnDoeSuccessStory": "జాన్ డో యొక్క విజయ కథ",
    "readMore": "మరింత చదవండి",
    "academicGuidance": "అకడమిక్ మార్గదర్శకత,ప్రవేశ పరీక్షలు",
  
    "janeSmithAcademicJourney": "జేన్ స్మిత్ యొక్క అకడమిక్ యాత్ర",
    "collegeSelection": "కళాశాల ఎంపిక",
    "alexLeeCollegeExperience": "ఆలెక్స్ లీ యొక్క కళాశాల అనుభవం",
     "logistics": "లాజిస్టిక్స్, అనలిటిక్స్",
    "minimizeManufacturing": "తయారికాను తగ్గించండి",
    "warehousingDistribution": "గోదాములు, పంపిణీ",
    "warehouseInventory": "గోదామా జాబితా",
    "ourBlogs": "మా బ్లాగులు",
    "recentNewsEvents": "తాజా వార్తలు మరియు ఈవెంట్స్",
    "stayUpdated": "కళాశాల ప్రవేశాలపై తాజా వార్తలు, సూచనలు మరియు సమాచారం కోసం నవీకరించండి.",
    "topTipsScholarships": "2024లో పాఠశాల వేతనాలకు టాప్ సూచనలు",
    "scholarshipTips": "మీ కళాశాల విద్యను మద్దతు ఇవ్వడానికి పాఠశాల వేతనాలు మరియు ఆర్థిక సహాయం పొందడానికి అవసరమైన సూచనలు మరియు వ్యూహాలు కనుగొనండి.",
    "navigatingAdmissions": "కళాశాల ప్రవేశ ప్రక్రియను నావిగేట్ చేయడం: ఒక కదలిక-బోధన మార్గదర్శి",
    "admissionsGuide": "విద్యార్థులు మరియు తల్లిదండ్రులకు కళాశాల ప్రవేశ ప్రక్రియను సులభంగా నావిగేట్ చేయడంలో సహాయం చేసే సమగ్ర మార్గదర్శి.",
     "stayUpdated": "కళాశాల ప్రవేశ సూచనలతో నవీకరించబడండి",
    "subscribeNewsletter": "కళాశాల ప్రవేశం, స్కాలర్‌షిప్ అవకాశాలు, మరియు మీ అవసరాలకు అనుగుణమైన విద్యా సలహా పై తాజా నవీకరణల కోసం మా న్యూస్‌లెటర్‌కు సబ్‌స్క్రయిబ్ చేయండి.",
   
    "collegeDreams": "మీ కళాశాల కలలు, మా నిపుణుల మార్గదర్శనం",
    "quickLinks": "త్వరిత లింకులు",
    "services": "సేవలు",
    "community": "సమూహం",
      "websiteCredits": "ఈ వెబ్‌సైట్‌ను సుషాంత్, సబరి, శ్రీధరన్, యువన్‌శంకర్, మెగల, గోఫోర్ట్‌వాకర్ రూపొందించారు",
    "copyright": "© 2022 ట్రాన్స్‌పోర్టియో. అన్ని హక్కులు క్యాంపస్‌వేకు సంరక్షించబడింది",
       "campusWay": "క్యాంపస్‌వే",
        "viewServices": "సేవలను వీక్షించండి"
  },



  
   "ml": {
    "home": "ഹോം",
    "about": "കുറിച്ച്",
    "service": "സേവനം",
    "blog": "ബ്ലോഗ്",
    "contact": "ബന്ധപ്പെടുക",
    "feedback": "പ്രതികരണം",
    "login": "ലോഗിൻ",
    "nextStepSuccess": "അടുത്തഘട്ടം",
    "success":"വിജയം",
    "heroText": "നിങ്ങളുടെ കോളേജ് സ്വപ്നങ്ങൾ, ഞങ്ങളുടെ വിദഗ്ദ്ധ മാർഗനിർദ്ദേശം",
    "whyChooseUs": "എന്തുകൊണ്ട് ഞങ്ങളെ തിരഞ്ഞെടുക്കണം",
    "pathwayToSuccess": "നിങ്ങളുടെ കോളേജ് വിജയത്തിലേക്കുള്ള വഴി",
    "whyChooseUsText": "ക്യാമ്പസ് വേയിൽ, വിദ്യാർത്ഥികൾക്ക് അവരുടെ കോളേജ് സ്വപ്നങ്ങൾ സാക്ഷാത്കരിക്കുന്നതിന് ഞങ്ങൾ പ്രതിജ്ഞാബദ്ധമാണ്. വിദ്യാർത്ഥി അവരുടെ ഭാവി തിരയാൻ യോഗ്യമായ പാത കണ്ടെത്തുന്നുണ്ടെന്ന് ഉറപ്പാക്കുന്നു, കോളേജ് പ്രവേശന പ്രക്രിയയെക്കുറിച്ച് വിദഗ്ദ്ധ മാർഗനിർദ്ദേശം നൽകുന്നു.",
    "accuratePredictions": "നിങ്ങളുടെ TNEA അല്ലെങ്കിൽ മെഡിക്കൽ കട്ട് ഓഫ് സ്‌കോറുകൾ അടിസ്ഥാനമാക്കി കൃത്യമായ കോളേജ് പ്രവചനങ്ങൾ.",
    "scholarshipsOpportunities": "നിങ്ങളുടെ വിദ്യാഭ്യാസത്തിന് സാമ്പത്തിക സഹായം നൽകുന്നതിനുള്ള സ്‌കോളർഷിപ്പ് അവസരങ്ങൾ.",
    "stepByStepCounseling": "കോളേജ് പ്രവേശന പ്രക്രിയയിൽ നിങ്ങളെ മാർഗനിർദ്ദേശം ചെയ്യുന്നതിന് സ്റ്റെപ്പ്-ബൈ-സ്റ്റെപ്പ് കൗൺസിലിംഗ്.",
    "comprehensiveInfo": "പ്രവേശന പരീക്ഷകൾ, അക്കാദമിക് ആവശ്യകതകൾ, എന്നിവയുടെയും കൂടുതൽ പരിപൂർണ്ണ വിവരങ്ങൾ.",
    "personalizedAdvice": "നിങ്ങളുടെ പ്രത്യേക സാഹചര്യത്തിനും ലക്ഷ്യങ്ങൾക്കും അനുയോജ്യമായ വ്യക്തിഗത ഉപദേശം.",
    "dedicatedSupport": "ഗ്രാമീണ പ്രദേശങ്ങളിൽ നിന്നുള്ള വിദ്യാർത്ഥികൾക്കും കുറച്ച് വിദ്യാഭ്യാസമുള്ള കുടുംബങ്ങളുടെയും സഹായം.",
    "learnMore": "കൂടുതൽ അറിയുക",
    "allServices": "എല്ലാ സേവനങ്ങളും",
    "trustedForServices": "ഞങ്ങളുടെ സേവനങ്ങൾക്കായി വിശ്വസിക്കപ്പെട്ടത്",
    "servicesText": "ക്യാമ്പസ് വേയിൽ, വിദ്യാർത്ഥികളുടെ കോളേജ് പ്രവേശന യാത്രയിൽ പിന്തുണ നൽകുന്നതിനുള്ള നിരവധി സേവനങ്ങൾ ഞങ്ങൾ വാഗ്ദാനം ചെയ്യുന്നു. നിങ്ങളുടെ അക്കാദമിക് ലക്ഷ്യങ്ങൾ നേടുന്നതിൽ ഞങ്ങൾ എങ്ങനെ നിങ്ങളെ സഹായിക്കാം എന്ന് കണ്ടെത്തുക:",
    "scholarships": "സ്കോളർഷിപ്പുകൾ",
    "scholarshipsText": "നിങ്ങളുടെ വിദ്യാഭ്യാസത്തിനുള്ള സാമ്പത്തിക സഹായം നൽകുന്നതിനുള്ള മികച്ച സ്കോളർഷിപ്പുകളും സാമ്പത്തിക സഹായവും കണ്ടെത്തുക. ഞങ്ങളുടെ ലക്ഷ്യം നിങ്ങളുടെ വിതരണ ശൃംഖലയെ മെച്ചപ്പെടുത്തുക, മികച്ച സേവനം നൽകുക.",
    "viewDetail": "വിശദാംശങ്ങൾ കാണുക",
    "resources": "വിഭവങ്ങൾ",
    "resourcesText": "കോളേജ് അപേക്ഷകൾ, പരീക്ഷാ തയ്യാറെടുപ്പുകൾ, കൂടുതൽ സഹായങ്ങൾ ലഭിക്കാൻ വിഭവങ്ങളുടെ വിപുലമായ ശ്രേണി ആക്സസ് ചെയ്യുക. ഞങ്ങളുടെ ലക്ഷ്യം നിങ്ങളുടെ വിതരണ ശൃംഖലയെ മെച്ചപ്പെടുത്തുക, മികച്ച സേവനം നൽകുക.",
    "counselling": "കൗൺസിലിംഗ്",
    "counsellingText": "കോളേജ്കളും കരിയർ പാതകളുമായി ബന്ധപ്പെട്ട വിവരങ്ങൾ നൽകുന്നതിനുള്ള വ്യക്തിഗത ഉപദേശം ലഭിക്കുക.",
    "academicDetails": "അക്കാദമിക് വിവരങ്ങൾ",
    "academicDetailsText": "നിങ്ങളുടെ അക്കാദമിക് പ്രകടനത്തിലെ മെച്ചപ്പെടുത്തലിനുള്ള മാർഗനിർദ്ദേശം ലഭിക്കുക.",
    "collegesUniversities": "കോളേജ്കളും സർവകലാശാലകളും",
    "collegesUniversitiesText": "നിങ്ങളുടെ തിരഞ്ഞെടുപ്പിനെ പിന്തുണയ്ക്കുന്നതിന് കോളേജ്കളെയും സർവകലാശാലകളെയും കുറിച്ചുള്ള സമഗ്രമായ വിവരങ്ങൾ ലഭിക്കുക.",
    "entranceExams": "പ്രവേശന പരീക്ഷകൾ",
    "entranceExamsText": "കോളേജ് പ്രവേശനത്തിനുള്ള ആവശ്യമായ പ്രവേശന പരീക്ഷകൾക്കുള്ള സഹായവും വിഭവങ്ങളും ലഭിക്കുക.",
    "features": "വിശേഷതകൾ",
    "featuresText": "നിങ്ങളുടെ അക്കാദമിക് യാത്രയ്ക്ക് സമഗ്രമായ മാർഗനിർദ്ദേശം.",
    "offer":" കോളേജ് പ്രവേശന പ്രക്രിയയ്ക്കും അതിന് ശേഷവും വിദ്യാർത്ഥികൾക്ക് പിന്തുണ നൽകുന്നതിനുള്ള നിരവധി ഫീച്ചറുകൾ നൽകുന്നു.",
    "exploreMore": "കൂടുതൽ കണ്ടുപിടിക്കുക",
    "scholarshipOpportunities": "സ്കോളർഷിപ്പ് അവസരങ്ങൾ",
    "scholarshipOpportunitiesText": "നിങ്ങളുടെ വിദ്യാഭ്യാസത്തിനായി സാമ്പത്തിക സഹായം നൽകുന്നതിനുള്ള മികച്ച സ്കോളർഷിപ്പുകൾക്കും സാമ്പത്തിക സഹായത്തിനും അനുസൃതമായ സമഗ്രമായ അവസരങ്ങൾ ആക്സസ് ചെയ്യുക.",
    "personalizedCounseling": "വ്യക്തിഗത കൗൺസിലിംഗ്",
    "personalizedCounselingText": "കോളേജ് അപേക്ഷാ പ്രക്രിയയെക്കുറിച്ച് വിവരങ്ങൾ ലഭിക്കാൻ, മികച്ച തീരുമാനങ്ങൾ എടുക്കുന്നതിന് വ്യക്തിഗത ഉപദേശവും മാർഗനിർദ്ദേശവും ലഭിക്കുക.",
    "collegeInformation": "കോളേജ് വിവരങ്ങൾ",
    "collegeInformationText": "നിങ്ങളുടെ അക്കാദമിക് ലക്ഷ്യങ്ങൾക്ക് അനുയോജ്യമായ കോളേജുകൾ തിരഞ്ഞെടുക്കുന്നതിനുള്ള കോളേജുകളുടെയും സർവകലാശാലകളുടെയും വിശദമായ വിവരങ്ങൾ ലഭിക്കുക.",
    "testimonials": "സാക്ഷ്യപ്പെടുത്തലുകൾ",
    "whatOurStudentsSay": "ഞങ്ങളേക്കുറിച്ച് ഞങ്ങളുടെ വിദ്യാർത്ഥികൾ പറയുന്നത്",
    "hearDirectlyFromStudents": "ഞങ്ങളുടെ കൗൺസിലിംഗ്, മാർഗനിർദ്ദേശ സേവനങ്ങളിൽ നിന്നും പ്രയോജനം നേടിയ വിദ്യാർത്ഥികളിൽ നിന്ന് നേരിട്ട് കേൾക്കുക.",
     "scholarships": "സ്കോളർഷിപ്പുകൾ,കൺസലിംഗ്",
    
    "johnDoeSuccessStory": "ജോൺ ഡോയുടെ വിജയ കഥ",
    "readMore": "കൂടുതൽ വായിക്കുക",
    "academicGuidance": "അക്കാദമിക് മാർഗനിർദേശങ്ങൾ,പ്രവേശന പരീക്ഷകൾ",
 
    "janeSmithAcademicJourney": "ജെയ്ൻ സ്മിത്തിന്റെ അക്കാദമിക് യാത്ര",
    "collegeSelection": "കോളേജ് തിരഞ്ഞെടുപ്പ്",
    "alexLeeCollegeExperience": "അലക്സു ലീയുടെ കോളേജ് അനുഭവം",
        "logistics": "ലാജിസ്റ്റിക്‌സ്, അനലിറ്റിക്സ്",
    "minimizeManufacturing": "ഉത്പാദനം കുറയ്ക്കുക",
    "warehousingDistribution": "ഗോദാമുകൾ, വിതരണങ്ങൾ",
    "warehouseInventory": "ഗോദാമം ഇൻവെന്ററി",
    "ourBlogs": "നമ്മുടെ ബ്ലോഗുകൾ",
    "recentNewsEvents": "സമീപകാല വാർത്തകളും സംഭവങ്ങളും",
    "stayUpdated": "കോളേജ് പ്രവേശനങ്ങളെക്കുറിച്ചുള്ള പുതിയ വാർത്തകൾ, ആശയങ്ങൾ, വിവരങ്ങൾ എന്നിവയുടെ അപ്‌ഡേറ്റുകൾ തേടുക.",
    "topTipsScholarships": "2024-ൽ സ്കോളർഷിപ്പുകൾ നേടുന്നതിനുള്ള മേധാവി മാർഗ്ഗനിർദ്ദേശങ്ങൾ",
    "scholarshipTips": "നിങ്ങളുടെ കോളേജ് വിദ്യാഭ്യാസം പിന്തുണയ്ക്കാൻ സ്കോളർഷിപ്പുകളും സാമ്പത്തിക സഹായവും നേടുന്നതിന് ആവശ്യമായ നിർദേശങ്ങളും തന്ത്രങ്ങളും കണ്ടെത്തുക.",
    "navigatingAdmissions": "കോളേജ് പ്രവേശന പ്രക്രിയ എങ്ങനെ നടത്താം: ഒരു പടികളിലൊതുങ്ങിയ മാർഗ്ഗനിർദ്ദേശം",
    "admissionsGuide": "വിദ്യാർത്ഥികളുടെയും മാതാപിതാക്കളുടെയും സഹായം ചെയ്യുന്ന സമഗ്ര മാർഗ്ഗനിർദ്ദേശം.",
     "stayUpdated": "കോളേജ് പ്രവേശന നല്കുന്ന നിർദേശങ്ങളുമായി അപ്‌ഡേറ്റുചെയ്യുക",
    "subscribeNewsletter": "കോളേജ് പ്രവേശനം, സ്‌കോളർഷിപ്പ് അവസരങ്ങൾ, നിങ്ങളുടെ ആവശ്യങ്ങൾക്ക് അനുയായമായ അക്കാദമിക് ഉപദേശം സംബന്ധിച്ച తాజా അപ്‌ഡേറ്റുകൾക്കായി ഞങ്ങളുടെ ന്യൂസ്‌ലെറ്റർ സബ്സ്ക്രൈബ് ചെയ്യുക.",
   
    "collegeDreams": "നിങ്ങളുടെ കോളേജ് സ്വപ്നങ്ങൾ, നമ്മുടെ വിദഗ്ദ്ധരായ മാർഗ്ഗനിർദ്ദേശം",
    "quickLinks": "ഇടിക്കാനുളള ലിങ്കുകൾ",
    "services": "സേവനങ്ങൾ",
    "community": "സമൂഹം",
     "websiteCredits": "ഈ വെബ്സൈറ്റ് സുഷാന്ത്, സബരി, ശ്രീധരന്, യുവന്ഷങ്കർ, മെഗല, ഗോഫോർത്ത്‌വാക്കർ ചേർന്ന് സൃഷ്ടിച്ചിരിക്കുന്നു",
    "copyright": "© 2022 ട്രാൻസ്പോർട്ടിയോ. എല്ലാ അവകാശങ്ങളും ക്യാമ്പസ്‌വേയ്ക്ക് réserverd",
       "campusWay": "കാമ്പസ് വേ",
        "viewServices": "സേവനങ്ങൾ കാണുക"





  }

  };

  function changeLanguage(language) {
    document.querySelectorAll("[data-translate]").forEach(function(element) {
      const key = element.getAttribute("data-translate");
      element.textContent = translations[language][key];
    });
  }
  function getCookie(name) {
            const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
            return match ? decodeURIComponent(match[2]) : null;
        }
    document.addEventListener('DOMContentLoaded', function() {
             const language = getCookie('preferredLanguage') || 'en'; 
           
        changeLanguage(language);  
    });
   
function readOutText(text) {
    const speech = new SpeechSynthesisUtterance(text);
    speech.lang = 'en'; 
    window.speechSynthesis.speak(speech);
}

function setupReadOut() {
    const elements = document.querySelectorAll('[data-translate]');
    elements.forEach(element => {
        element.addEventListener('click', () => {
            const text = element.textContent || element.getAttribute('data-translate');
            readOutText(text);
        });
    });
}

document.addEventListener('DOMContentLoaded', setupReadOut);


</script>