<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusWay</title>
     <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">
    {{#if loginpage}}
<link rel="stylesheet" href="/css/login.css">
    {{/if}}
    {{#if homepage}}
  <link rel="stylesheet" href="/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
    rel="stylesheet">
     {{/if}}   
     {{#if feedback}}
     <link rel="stylesheet" href="/css/feedback.css">
     {{/if}}
     {{#if dashboard}}
     <link rel="stylesheet" href="/css/dashboard.css">
     <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Rubik:wght@400;500;600;700&display=swap"
    rel="stylesheet">
     <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
     {{/if}}
     {{#if loginpage}}
     <link rel="stylesheet" href="/css/login.css">
     {{/if}}
     {{#if dataform}}
     <link rel="stylesheet" href="/css/dataform.css">
     {{/if}}
     {{#if signuppage}}
     <link rel="stylesheet" href="/css/signup.css">
     {{/if}}
     {{#if college}}
     <link rel="stylesheet" href="/css/colleges.css">
     {{/if}}
     {{#if counselling}}
     <link rel="stylesheet" href="/css/counselling.css">
     {{/if}}
     {{#if college_university_dashboard}}
     <link rel="stylesheet" href="/css/college_university_dashboard.css">
     {{/if}}
     {{#if main}}
     <link rel="stylesheet" href="/css/mainpage.css">
     {{/if}}
     {{#if artscolleges}}
     <link rel="stylesheet" href="/css/artscolleges.css">
     {{/if}}
     {{#if collegeprediction}}
     <link rel="stylesheet" href="/css/collegeprediction.css">
     {{/if}}
     {{#if counsellingpart}}
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/css/counsellingpart.css">
     
     {{/if}}
     {{#if changepassword}}
     <link rel="stylesheet" href="/css/changepassword.css">
     {{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>